@import 'mixins';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'swiper/scss';
@import 'swiper/scss/navigation';

a,
.cp {
  cursor: pointer;
}

h1,
h2 {
  margin-bottom: 2rem;
}

body {
  background-color: #f1f4f5;
  &::-webkit-scrollbar,
  ::-webkit-scrollbar {
    width: 18px;
    &-track {
      background-color: transparent;
      // box-shadow: inset 0 0 5px #00a4b7;
    }
    &-thumb {
      width: 18px;
      border-radius: 13px;
      background-clip: padding-box;
      border: 5px solid transparent;
      background-color: #00a4b7;
    }
  }
}
.input-data {
  border: 2px solid #d6e1e3;
  border-radius: 10px;
  color: #154f5b;
  outline-color: #154f5b;
  &:focus {
    border-color: #154f5b;
  }
  @apply font-poppins focus:outline-none leading-6 bg-white font-normal text-base  py-3 pl-4 pr-3;
}

.primary-button {
  background-image: linear-gradient(to right, #359cbb, #64c299);
  &:hover {
    background-image: linear-gradient(to right, #246a80, #10bd72);
  }
  &:disabled {
    opacity: 0.3 !important;
    @apply cursor-not-allowed;
  }
  @apply flex items-center justify-center h-12 rounded-full px-5 duration-500 text-white font-baloo;
}

.gray-button {
  background-color: #154f5b;
  border: 2px solid #154f5b;
  &:hover {
    color: #154f5b;
    @apply bg-white;
  }
  &:disabled {
    color: #fff !important;
    background-color: #d6e1e3 !important;
    border-color: #d6e1e3 !important;
    @apply cursor-not-allowed;
  }
  @apply flex items-center justify-center h-12 rounded-full px-5 duration-500 text-white font-baloo;
}
.google-button {
  color: #154f5b;
  border: 2px solid #154f5b;
  @apply bg-white;
  &:hover {
    background-color: #154f5b;
    @apply text-white;
  }
  &:disabled {
    color: #d6e1e3 !important;
    background-color: #fff !important;
    border-color: #d6e1e3 !important;
    @apply cursor-not-allowed;
  }
  @apply flex items-center justify-center h-12 rounded-full px-5 duration-500 font-baloo;
}

.secondary-button {
  border: solid 2px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
    linear-gradient(90deg, #359cbb, #64c299);
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
  @apply bg-white bg-origin-border;
  &:hover {
    box-shadow: none;
    span {
      background: linear-gradient(90deg, white, white);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    @apply text-white;
  }
  &:disabled {
    color: #d6e1e3 !important;
    background-color: #fff !important;
    border-color: #d6e1e3 !important;
    @apply cursor-not-allowed;
  }
  @apply flex items-center justify-center h-12 rounded-full px-5 duration-500 font-baloo;
  span {
    background: -webkit-linear-gradient(360deg, #359cbb, #64c299);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.noborder-button {
  background: -webkit-linear-gradient(360deg, #359cbb, #64c299);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: fit-content;
  &:hover {
    background: -webkit-linear-gradient(360deg, #246a80, #10bd72);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &:disabled {
    color: #d6e1e3 !important;
    @apply cursor-not-allowed;
  }
  @apply font-baloo px-3 duration-500 cursor-pointer;
}

.custom-select {
  &-box {
    border: 2px solid #d6e1e3;
    border-radius: 8px;
    min-height: 3rem;
    &-valueContainer {
      width: calc(100% - 1.25rem);
    }
    &-chip {
      border: 1px solid #d6e1e3;
      border-radius: 8px;
      img {
        width: 10px;
      }
    }
  }
  &-placeholder {
    color: #a2a3af;
  }
  &-item {
    &:last-child {
      .custom-select-item-div {
        border-bottom: 0px !important;
      }
    }
  }
}

.calendar-1 {
  .datepicker-container {
    @apply w-full;
    input {
      border: 2px solid #d6e1e3;
      border-radius: 8px;
      color: #154f5b;
      @apply bg-white w-full py-3 px-4 focus:outline-none;
    }
    .calendar-container {
      top: calc(3rem + 4px) !important;
      // position: static !important;
      .top-container {
        padding: 16px 20px !important;
        justify-content: center !important;
        @apply relative flex;
        span {
          color: #154f5b;
          @apply font-medium;
        }
        .control {
          top: 22px;
          @apply absolute;
          path {
            fill: #154f5b !important;
          }
        }
        .prev-month {
          @apply left-0;
        }
        .next-month {
          margin-right: 20px;
          @apply right-0;
        }
      }
      .main-calendar-day-names {
        height: unset !important;
        border-width: 0px !important;
        .day-name-unit {
          color: #154f5b !important;
          font-size: 12px !important;
          @apply font-medium;
        }
      }
      .main-calendar-days {
        .day-unit {
          color: #154f5b !important;
          height: 42px !important;
          &:hover {
            background: #00a4b7 !important;
            color: #fff !important;
            opacity: 100% !important;
          }
        }
        .is-prev-month {
          opacity: 33%;
        }
        .is-selected {
          background: #00a4b7 !important;
          color: #fff !important;
        }
      }
    }
  }
}

.checkbox-input {
  .check-container {
    padding-left: 30px;
    color: #154f5b;
    @apply block relative mb-5 cursor-pointer select-none;
    input {
      @apply absolute opacity-0 cursor-pointer h-0 w-0;
      &:checked ~ .checkmark {
        background: -webkit-linear-gradient(360deg, #359cbb, #64c299);
        border: 1px solid #00a4b7;
      }
      &:checked ~ .checkmark:after {
        @apply block;
      }
    }
    .checkmark {
      border: 1px solid #154f5b;
      border-radius: 4px;
      @apply absolute top-0 left-0 h-5 w-5 bg-transparent;
      &:after {
        content: '';
        left: 6px;
        top: 1px;
        width: 7px;
        height: 13px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(42deg);
        @apply hidden absolute;
      }
    }
  }
}
.radio-input {
  .radio-container {
    padding-left: calc(35px + 1rem);
    font-size: 16px;
    @apply block relative cursor-pointer select-none;
    &-name {
      color: #154f5b;
      @apply font-bold;
    }
    &-descri {
      color: #154f5b;
      @apply font-thin;
    }
    input {
      @apply absolute opacity-0 cursor-pointer;
      &:checked ~ .radiomark {
        border: 1px solid #00a4b7;
        @apply bg-white;
      }
      &:checked ~ .radiomark:after {
        @apply block;
      }
    }
    .radiomark {
      border: 1px solid #154f5b;
      @apply absolute  rounded-full w-5 h-5 left-4 top-4;
      &:after {
        content: '';
        top: 3px;
        left: 3px;
        border-radius: 50%;
        background: -webkit-linear-gradient(360deg, #359cbb, #64c299);
        @apply hidden absolute rounded-full w-3 h-3;
      }
    }
  }
}

.tooltip-top {
  @apply inline-block relative;
  .tooltiptext {
    width: 20rem;
    background-color: #6b9eb6;
    bottom: 125%;
    left: calc(-10rem + 5px);
    @apply invisible text-white text-left rounded-2xl p-5 absolute z-10 opacity-0 duration-300;
    &::after {
      content: '';
      margin-left: -5px;
      border-width: 5px;
      left: 50%;
      border-color: #6b9eb6 transparent transparent transparent;
      @apply absolute top-full border-solid;
    }
  }
  &:hover {
    .tooltiptext {
      @apply visible opacity-100;
    }
  }
}
.tooltip-right {
  @apply inline-block relative;
  .tooltiptext {
    width: 25rem;
    background-color: #6b9eb6;
    top: -100%;
    left: 160%;
    @apply invisible text-white text-left rounded-2xl p-5 absolute z-10 opacity-0 duration-300;
    &::after {
      content: '';
      margin-top: -5px;
      border-width: 5px;
      right: 100%;
      top: 50%;
      border-color: transparent #6b9eb6 transparent transparent;
      @apply absolute border-solid;
    }
  }
  &:hover {
    .tooltiptext {
      @apply visible opacity-100;
    }
  }
}

.header__title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 1rem 0 0;
}

.flex-spacer {
  flex-grow: 1;
}

.progress__spinner {
  height: calculateRem(60px) !important;
  @include push--auto(2rem);
}

.hero-actions {
  align-items: center;
  display: flex;
  padding-bottom: 1rem;
}

.icon__like--red {
  color: $red;
  cursor: pointer;
}

.icon__like--grey {
  color: $grey;
  cursor: pointer;
}

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}

.warning-snack-bar {
  background: white !important;
  color: red;
  font-weight: bold;

  .mat-button-wrapper {
    color: $blue;
  }
}

.info-snack-bar {
  font-weight: bold;
  border: 1px white solid;

  .mat-button-wrapper {
    color: white;
  }
}

pre {
  background: $light-grey;
  border: 1px solid $grey;
  border-left: 3px solid $primary--color;
  color: $primary--color;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: calculateRem(15px);
  line-height: 1.6;
  margin-bottom: 1.6rem;
  max-width: 100%;
  overflow: auto;
  padding: 1rem 1.5rem;
  display: block;
  text-align: left;
  word-wrap: break-word;
}

.offline-error {
  font-size: 1rem;
  font-weight: 300;
  padding: 1rem;
  text-align: center;

  span {
    transform: rotate(90deg);
    font-size: 0.8rem;
    display: inline-flex;
  }
}

.language-link {
  color: white;
  text-decoration: none;
  font-weight: 400;
  display: block;
}

// MATERIAL
//SWIPER

.swiper {
  @apply h-full w-full;
}
.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}

// hide arrow in number fields
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
.w-fit {
  width: fit-content;
}

.graph-container {
  .tick {
    text {
      fill: #73959d !important;
      font-weight: 500;
    }
  }
}
// Last line should be this

@import 'tailwindcss/utilities';
