
    <div class=" website-page-heading bg-white pt-4 pb-4 px-8">
    <header class="header leading-9 text-4xl font-normal not-italic">Website</header>
    </div>
    <hr class="line">
    <div class=" website-page bg-white pt-4 pb-36 px-8">
    <div class="flex flex-col items-center">
       <div class="mt-12"><app-no-data-view-website></app-no-data-view-website></div>
       <h1 class="title not-italic font-normal text-2xl leading-6 mb-0 mt-12 pr-10">Your website details will come here</h1>
       <p class="content font-normal not-italic text-base mt-3">Create a stunning and professional website in minutes</p>
       <div class="flex justify-evenly mt-8">
         <button class=" template-button rounded-full mr-2 py-3 px-8 not-italic bg-white font-normal text-base">See Website Template</button>
         <button class="getstarted rounded-full ml-2 py-3 px-14 not-italic text-white font-normal text-base" [routerLink]="['/home']" routerLinkActive="router-link-active" >Get Started</button>
       </div>
    </div>
</div>
