<!-- <div class="dashboard  sm:h-full lg:h-screen flex flex-col w-full py-10 pl-40 pr-10">  -->
<div class="header flex justify-between mx-2">
  <div>
    <h3 class="title leading-9 font-normal not-italic">Hey 👋</h3>
    <p class="content font-normal text-base not-italic">
      We're super excited to transform your business in 1 - 2 - 3!
    </p>
  </div>
  <div class="flex">
    <span class="group relative">
      <button
        class="secondary-button h-10 px-6 mr-2 relative"
        [ngClass]="{ 'primary-button': !isCompleted(), 'secondary-button group': isCompleted() }"
        (click)="iframeOpen()"
      >
        <span>{{ isCompleted() ? 'See TinyCard™ Template' : 'Preview Your TinyCard™' }}</span>
        <ng-container
          *ngTemplateOutlet="
            tinyCard;
            context: { tinyCardData: 'The template has dummy information for now.' }
          "
        ></ng-container>
      </button>
    </span>
    <span class="group relative">
      <button
        class="gray-button h-10 ml-2 px-8 group relative"
        [disabled]="isCompleted()"
        (click)="publishWebsite()"
      >
        Publish Your TinyCard™
      </button>
      <ng-container
        *ngTemplateOutlet="
          tinyCard;
          context: {
            tinyCardData: isCompleted()
              ? 'Publishing TinyCard™ is allowed after mandatory infomation is filled'
              : 'After publishing, your TinyCard™ will be visible to everyone.'
          }
        "
      ></ng-container>
    </span>
  </div>
  <!-- popover div starts here -->

  <ng-template #tinyCard let-cardData="tinyCardData ">
    <div
      class="absolute border border-grey-100 hidden group-hover:block rounded-[20px] w-64 top-14 z-10 text-white font-medium font-poppins bg-[#6B9EB6]"
    >
      <p class="text-left items-center flex h-full text-base tracking-normal leading-normal p-5">
        {{ cardData }}
      </p>
    </div>
  </ng-template>
  <!-- popover div ends here -->
</div>

<div class="pt-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3">
  <!--Card 1-->
  <div class="relative">
    <div class="flex flex-col card shadow-lg p-8 bg-white mr-2 mt-2 mb-2">
      <div
        class="complete-icon absolute"
        *ngIf="dashboardInfos?.businessInfo?.isStarted && dashboardInfos?.businessInfo?.isCompleted"
      >
        <app-completeicon></app-completeicon>
      </div>
      <div
        class="warning-icon absolute"
        *ngIf="
          dashboardInfos?.businessInfo?.isStarted && !dashboardInfos?.businessInfo?.isCompleted
        "
      >
        <app-warningicon></app-warningicon>
      </div>
      <div class="image flex justify-items-start">
        <app-basicinfo></app-basicinfo>
      </div>
      <div class="card-title flex">
        <span class="number font-normal not-italic mt-6 mr-4">1</span
        ><span class="title font-normal not-italic"
          >Add<br />
          Basic info</span
        >
      </div>
      <div class="flex-1 flex flex-col justify-between">
        <p class="card-content not-italic font-normal text-base py-4">
          Create a stunning and professional TinyCard™&nbsp;

          <span class="tooltip-right">
            <span class="dashboard-new-i-blue cursor-help relative top-1"
              ><img src="../../../../../assets/images/tooltip-icon.svg"
            /></span>
            <span class="tooltiptext card-tooltip-text"
              >TinyCard™ is the modern business card of the service professionals. Showcase your web
              presence, licenses, awards, and certifications, and allow customers to book your
              services.</span
            >
          </span>
          &nbsp;
        </p>

        <div>
          <button
            class="primary-button px-10 h-10 mt-auto"
            *ngIf="
              !dashboardInfos?.businessInfo?.isStarted && !dashboardInfos?.businessInfo?.isCompleted
            "
            [routerLink]="'../add-business-info'"
          >
            Add
          </button>
          <button
            class="secondary-button mt-auto h-10 px-10"
            *ngIf="dashboardInfos?.businessInfo?.isCompleted"
            [routerLink]="'../../website/edit-business-info'"
          >
            <span>Edit</span>
          </button>
          <button
            class="primary-button mt-auto px-10 h-10"
            *ngIf="
              dashboardInfos?.businessInfo?.isStarted && !dashboardInfos?.businessInfo?.isCompleted
            "
            [routerLink]="'../../website/edit-business-info'"
          >
            Complete The Details
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--Card 2-->
  <div class="relative">
    <div class="flex flex-col card shadow-lg p-8 overflow-hidden bg-white m-2">
      <div
        class="complete-icon absolute"
        *ngIf="dashboardInfos?.serviceInfo?.isStarted && dashboardInfos?.serviceInfo?.isCompleted"
      >
        <app-completeicon></app-completeicon>
      </div>
      <div
        class="warning-icon absolute"
        *ngIf="dashboardInfos?.serviceInfo?.isStarted && !dashboardInfos?.serviceInfo?.isCompleted"
      >
        <app-warningicon></app-warningicon>
      </div>
      <div class="image flex justify-items-start">
        <app-addsrvice></app-addsrvice>
      </div>
      <div class="card-title flex relative">
        <span class="number mt-6 mr-4">2</span
        ><span class="title"
          >Add <br />
          Services</span
        >
      </div>
      <div class="flex-1 flex flex-col justify-between">
        <p class="card-content not-italic font-normal text-base py-4">
          Display bookable services and packages with scheduling options
        </p>
        <div>
          <button
            class="primary-button px-10 h-10 mt-auto"
            *ngIf="
              !dashboardInfos?.serviceInfo?.isStarted && !dashboardInfos?.serviceInfo?.isCompleted
            "
            [routerLink]="'../add-service'"
          >
            Add
          </button>
          <button
            class="secondary-button px-10 h-10 mt-auto"
            *ngIf="dashboardInfos?.serviceInfo?.isCompleted"
            [routerLink]="'../../service/add-service'"
          >
            <span>Add Another Service</span>
          </button>
          <button
            class="primary-button mt-auto px-10 h-10"
            *ngIf="
              dashboardInfos?.serviceInfo?.isStarted && !dashboardInfos?.serviceInfo?.isCompleted
            "
            [routerLink]="'../../service'"
          >
            Complete The Details
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--Card 3-->
  <div class="relative">
    <div class="flex flex-col card shadow-lg p-8 overflow-hidden bg-white m-2">
      <div
        class="complete-icon absolute"
        *ngIf="dashboardInfos?.paymentInfo?.isStarted && dashboardInfos?.paymentInfo?.isCompleted"
      >
        <app-completeicon></app-completeicon>
      </div>
      <div
        class="warning-icon absolute"
        *ngIf="dashboardInfos?.paymentInfo?.isStarted && !dashboardInfos?.paymentInfo?.isCompleted"
      >
        <app-warningicon></app-warningicon>
      </div>
      <div class="image flex justify-items-start">
        <app-payment></app-payment>
      </div>
      <div class="card-title flex">
        <span class="number mt-6 mr-4">3</span><span class="title">Add <br />Payment info</span>
      </div>
      <div class="flex-1 flex flex-col justify-between">
        <p class="card-content not-italic font-normal text-base py-4">
          We've partnered with Rapyd to make your payments seamless
        </p>
        <div>
          <button
            class="primary-button px-10 mt-auto h-10"
            *ngIf="
              !dashboardInfos?.paymentInfo?.isStarted && !dashboardInfos?.paymentInfo?.isCompleted
            "
            [routerLink]="'../add-payment'"
          >
            Add
          </button>
          <button
            class="secondary-button mt-auto px-10 h-10"
            *ngIf="dashboardInfos?.paymentInfo?.isCompleted"
            [routerLink]="'../../account/edit-payment'"
          >
            <span>Edit</span>
          </button>
          <button
            class="primary-button mt-auto px-10 h-10"
            *ngIf="
              dashboardInfos?.paymentInfo?.isStarted && !dashboardInfos?.paymentInfo?.isCompleted
            "
            [routerLink]="'../../account/edit-payment'"
          >
            Complete The Details
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Whatever you wrap with the '<window>' component will be rendered on a new window  -->
<app-window #openWindow>
  <div class="relative overflow-hidden m-0 p-0">
    <iframe
      *ngIf="iframeURL"
      [src]="iframeURL"
      width="100%"
      height="100%"
      frameborder="0"
      style="
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
      "
    ></iframe>
  </div>
</app-window>
<!-- </div> -->
