.dashboard{
  background-color:#E5E5E5;
}
.header{
  .title{
      font-family: Baloo!important;
      font-size: 40px;
      color: #154F5B;

  }
  .content{
      font-family: Poppins !important;
      line-height: 1.6;
      color: #154F5B;
  }
  .template-button{
      font-family: Baloo!important;
     color: #12B5C1;
     border: 2px solid #12B5C1;
  }
  .publish-button{
      font-family: Baloo!important;
      background: #D6E1E3;
  }
  //<!--- When Publish button is active, then use this Style --!>
  .button-active{
  font-family: Baloo!important;
     background: #154F5B;
     cursor: pointer; 
   }
}

.card {
  border-radius: 20px;
  box-shadow: 0px 0px 20px #dce1e3;
  min-height: 100%;
  .complete-icon{
   top:0;
   left:-3px;
  }
  .warning-icon{
    top:0;
    left:-3px;

  }
  .card-title {
    padding-top: 1.92rem;

    .number {
      font-family: Baloo !important;
      font-size: 100px;
      line-height: 1.5rem;
      color: #64c2bc;
    }
    .title {
      font-family: Baloo;
      font-size: 32px;
      line-height: 2.25rem;
      letter-spacing: -2px;
      color: #154f5b;
    }
  }

  .card-content {
    font-family: Poppins;
    line-height:1.63rem;
    color: #154f5b;
  }
  .add-button{
    font-family: Baloo;
    background: #12B5C1;
    width: 109px;
  }
  .edit-button{
    font-family: Baloo;
     color: #16ADB6;
     border: 3px solid #12B5C1;
     width: 109px;
  }
  .completedetails-button{
font-family: Baloo;
background: #12B5C1;
width: 231px;

  }
}
@media (min-width:1024px) and (max-width:1200px) {
  .card{
  .number{
    font-size: 70px !important;
  }
  .title{
    font-size: 25px !important;
    line-height: 2rem !important;
  }
  .add-button{
    font-size: 12px !important;
  }
  .edit-button{
    font-size: 12px !important;
  }
  .completedetails-button{
    font-size: 12px !important;
    width: 200px;
  }
  }
}
@media (min-width:1201px) and (max-width:1400px) {
  .card-content {
    font-size: 15px !important;
  }

}
