.dashboard {
  background-color: #e5e5e5;
}
.header {
  .title {
    font-family: Baloo !important;
    font-size: 40px;
    color: #154f5b;
  }
  .content {
    font-family: Poppins !important;
    line-height: 1.6;
    color: #154f5b;
  }
  .template-button {
    font-family: Baloo !important;
    color: #00a4b7;
    border: 2px solid #00a4b7;
  }
  .publish-button {
    font-family: Baloo !important;
    background: #d6e1e3;
  }
  //<!--- When Publish button is active, then use this Style --!>
  .button-active {
    font-family: Baloo !important;
    background: #154f5b;
    cursor: pointer;
  }
}

.card {
  @apply flex flex-col shadow-lg p-8  bg-white m-2 rounded-5 min-h-fit;
  .complete-icon {
    top: 0;
    left: -3px;
  }
  .warning-icon {
    top: 0;
    left: -3px;
  }
  .card-title {
    padding-top: 1.92rem;

    .number {
      font-family: Baloo !important;
      font-size: 100px;
      line-height: 1.5rem;
      color: #64c2bc;
    }
    .title {
      letter-spacing: -2px;
      @apply font-baloo text-[2rem] leading-9 text-primaryFont;
    }
  }

  .card-content {
    @apply font-poppins text-primaryFont font-normal text-base py-4 leading-[1.63rem];
  }
  .card-tooltip-text {
    width: 17rem !important;
    &::after {
      content: '';
      margin-top: -93px !important;
      border-width: 8px !important;
    }
  }

  .completedetails-button {
    font-family: Baloo;
    background: #00a4b7;
    width: 231px;
  }
}
// .card-height {
//   @apply min-h-full;
// }
// .card-height-none {
//   @apply min-h-0;
// }
@media (min-width: 1024px) and (max-width: 1200px) {
  .card {
    .number {
      font-size: 70px !important;
    }
    .title {
      font-size: 25px !important;
      line-height: 2rem !important;
    }
    .completedetails-button {
      font-size: 12px !important;
      width: 200px;
    }
  }
}
@media (min-width: 1201px) and (max-width: 1400px) {
  .card-content {
    font-size: 15px !important;
  }
}
