<!-- <div class="dashboard  sm:h-full lg:h-screen flex flex-col w-full py-10 pl-40 pr-10">  -->
<div class="header flex justify-between mx-2">
  <div>
    <h3 class="title leading-9 font-normal not-italic">Hey 👋</h3>
    <p class="content font-normal text-base not-italic">
      We're super excited to transform your business in 1 - 2 - 3!
    </p>
  </div>
  <div class="flex">
    <button class="secondary-button h-10 px-6 mr-2">See Tiny Card™ Template</button>
    <button class="gray-button h-10 ml-2 px-8">Publish Your Tiny Card™</button>
  </div>
</div>

<div class="pt-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3">
  <!--Card 1-->
  <div class="relative">
    <div class="flex flex-col card shadow-lg p-8 overflow-hidden bg-white mr-2 mt-2 mb-2">
      <div
        class="complete-icon absolute"
        *ngIf="dashboardInfos?.businessInfo?.isStarted && dashboardInfos?.businessInfo?.isCompleted"
      >
        <app-completeicon></app-completeicon>
      </div>
      <div
        class="warning-icon absolute"
        *ngIf="
          dashboardInfos?.businessInfo?.isStarted && !dashboardInfos?.businessInfo?.isCompleted
        "
      >
        <app-warningicon></app-warningicon>
      </div>
      <div class="image flex justify-items-start">
        <app-basicinfo></app-basicinfo>
      </div>
      <div class="card-title flex">
        <span class="number font-normal not-italic mt-6 mr-4">1</span
        ><span class="title font-normal not-italic"
          >Add<br />
          Basic info</span
        >
      </div>
      <div class="flex-1 flex flex-col justify-between">
        <p class="card-content not-italic font-normal text-base py-4">
          Create a stunning and professional Tiny Card™ in minutes
        </p>
        <div>
          <button
            class="primary-button px-10 h-10 mt-auto"
            *ngIf="
              !dashboardInfos?.businessInfo?.isStarted && !dashboardInfos?.businessInfo?.isCompleted
            "
            [routerLink]="'../add-business-info'"
          >
            Add
          </button>
          <button
            class="secondary-button mt-auto h-10 px-10"
            *ngIf="dashboardInfos?.businessInfo?.isCompleted"
            [routerLink]="'../../website/edit-business-info'"
          >
            Edit
          </button>
          <button
            class="primary-button mt-auto px-10 h-10"
            *ngIf="
              dashboardInfos?.businessInfo?.isStarted && !dashboardInfos?.businessInfo?.isCompleted
            "
            [routerLink]="'../../website/edit-business-info'"
          >
            Complete the details
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--Card 2-->
  <div class="relative">
    <div class="flex flex-col card shadow-lg p-8 overflow-hidden bg-white m-2">
      <div
        class="complete-icon absolute"
        *ngIf="dashboardInfos?.serviceInfo?.isStarted && dashboardInfos?.serviceInfo?.isCompleted"
      >
        <app-completeicon></app-completeicon>
      </div>
      <div
        class="warning-icon absolute"
        *ngIf="dashboardInfos?.serviceInfo?.isStarted && !dashboardInfos?.serviceInfo?.isCompleted"
      >
        <app-warningicon></app-warningicon>
      </div>
      <div class="image flex justify-items-start">
        <app-addsrvice></app-addsrvice>
      </div>
      <div class="card-title flex relative">
        <span class="number mt-6 mr-4">2</span
        ><span class="title"
          >Add <br />
          Services</span
        >
      </div>
      <div class="flex-1 flex flex-col justify-between">
        <p class="card-content not-italic font-normal text-base py-4">
          Display bookable services and packages with scheduling options
        </p>
        <div>
          <button
            class="primary-button px-10 h-10 mt-auto"
            [disabled]="!dashboardInfos?.businessInfo.isCompleted"
            *ngIf="
              !dashboardInfos?.serviceInfo?.isStarted && !dashboardInfos?.serviceInfo?.isCompleted
            "
            [routerLink]="'../add-service'"
          >
            Add
          </button>
          <button
            class="secondary-button px-10 h-10 mt-auto"
            *ngIf="dashboardInfos?.serviceInfo?.isCompleted"
            [routerLink]="'../../service'"
          >
            View Services
          </button>
          <button
            class="primary-button mt-auto px-10 h-10"
            *ngIf="
              dashboardInfos?.serviceInfo?.isStarted && !dashboardInfos?.serviceInfo?.isCompleted
            "
            [routerLink]="'../../service'"
          >
            Complete the details
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--Card 3-->
  <div class="relative">
    <div class="flex flex-col card shadow-lg p-8 overflow-hidden bg-white m-2">
      <div
        class="complete-icon absolute"
        *ngIf="dashboardInfos?.paymentInfo?.isStarted && dashboardInfos?.paymentInfo?.isCompleted"
      >
        <app-completeicon></app-completeicon>
      </div>
      <div
        class="warning-icon absolute"
        *ngIf="dashboardInfos?.paymentInfo?.isStarted && !dashboardInfos?.paymentInfo?.isCompleted"
      >
        <app-warningicon></app-warningicon>
      </div>
      <div class="image flex justify-items-start">
        <app-payment></app-payment>
      </div>
      <div class="card-title flex">
        <span class="number mt-6 mr-4">3</span><span class="title">Add <br />Payment info</span>
      </div>
      <div class="flex-1 flex flex-col justify-between">
        <p class="card-content not-italic font-normal text-base py-4">
          We've partnered with Rapyd to make your payments seamless
        </p>
        <div>
          <button
            class="primary-button px-10 mt-auto h-10"
            [disabled]="!dashboardInfos?.serviceInfo?.isCompleted"
            *ngIf="
              !dashboardInfos?.paymentInfo?.isStarted && !dashboardInfos?.paymentInfo?.isCompleted
            "
            [routerLink]="'../add-payment'"
          >
            Add
          </button>
          <button
            class="secondary-button mt-auto px-10 h-10"
            *ngIf="dashboardInfos?.paymentInfo?.isCompleted"
            [routerLink]="'../../account/edit-payment'"
          >
            Edit
          </button>
          <button
            class="primary-button mt-auto px-10 h-10"
            *ngIf="
              dashboardInfos?.paymentInfo?.isStarted && !dashboardInfos?.paymentInfo?.isCompleted
            "
            [routerLink]="'../../account/edit-payment'"
          >
            Complete the details
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
