<div class="fixed z-50 font-baloo fixed-header">
  <div class="website-page-heading bg-white py-4 px-8 flex justify-between w-full">
    <header class="header leading-9 font-normal flex items-center">
      <ng-container *ngIf="!editMode; else editTitle">
        <span class="one -pb-4 font-normal text-7xl leading-6 mr-3" *ngIf="isGettingStarted">
          3
        </span>
        <span class="text-4xl">Add Payment Info</span>
      </ng-container>
      <ng-template #editTitle>
        <span class="text-4xl">Edit Payment Info</span>
      </ng-template>
    </header>
    <div class="flex justify-between items-center">
      <button class="noborder-button mr-3" (click)="onCancelPayment()">Cancel</button>

      <button class="primary-button w-48 ml-3" (click)="onSubmitPayment()">Save</button>
    </div>
  </div>
</div>
<div class="fixed-header-mask fixed z-40 left-0 top-0"></div>
<form class="font-poppins" [formGroup]="paymentForm">
  <div class="add-info flex w-full">
    <div class="input-section w-7/12 bg-white py-8 px-12 flex flex-col">
      <h5 class="input-section-subheading font-bold mb-4 mt-8">Billing Details</h5>
      <div class="input-field flex mb-4">
        <div class="w-44 label text-right mt-4 mr-6"><label for="">Account Type</label></div>
        <div class="w-form">
          <div class="flex flex-col w-full rounded-lg radio-input">
            <label class="radio-container py-3 radio-input-border-b" for="fixed">
              <div class="flex flex-col">
                <p class="text-primaryFont pt-0.5">Individual</p>
              </div>
              <input
                type="radio"
                id="fixed"
                name="company"
                value="INDIVIDUAL"
                formControlName="company"
              />
              <span class="radiomark"></span>
            </label>
            <label class="radio-container py-3" for="flexible">
              <div class="flex flex-col">
                <p class="text-primaryFont pt-0.5">Company</p>
              </div>
              <input
                type="radio"
                id="flexible"
                name="company"
                value="COMPANY"
                formControlName="company"
              />
              <span class="radiomark"></span>
            </label>
          </div>
        </div>
      </div>
      <div
        class="input-field flex mb-4"
        *ngIf="paymentForm.get('company')?.value === 'COMPANY'; else individualType"
      >
        <div class="w-44 label text-right mt-4 mr-6"><label for="">Company Name*</label></div>
        <div class="w-form">
          <input
            class="input w-full py-3 px-4 focus:outline-none"
            placeholder="Enter name of your company"
            formControlName="companyname"
          />
        </div>
      </div>
      <ng-template #individualType>
        <div class="input-field flex mb-4">
          <div class="w-44 label text-right mt-4 mr-6"><label for="">First Name*</label></div>
          <div class="w-form">
            <input
              class="input w-full py-3 px-4 focus:outline-none"
              placeholder="Enter your First Name"
              formControlName="firstname"
              required
            />
          </div>
        </div>
        <div class="input-field flex mb-4">
          <div class="w-44 label text-right mt-4 mr-6"><label for="">Last Name*</label></div>
          <div class="w-form">
            <input
              class="input w-full py-3 px-4 focus:outline-none"
              placeholder="Enter your Last Name"
              formControlName="lastname"
              required
            />
          </div>
        </div>
      </ng-template>
      <div class="input-field flex mb-4">
        <div class="w-44 label text-right mt-4 mr-6"><label for="">Address*</label></div>
        <div class="w-form">
          <input
            class="input w-full py-3 px-4 focus:outline-none"
            placeholder="Address Line 1"
            formControlName="addressline1"
            required
          />
        </div>
      </div>
      <div class="input-field flex mb-4">
        <div class="w-44 label text-right mt-4 mr-6"></div>
        <div class="w-form">
          <input
            class="input w-full py-3 px-4 focus:outline-none"
            placeholder="Address Line 2"
            formControlName="addressline2"
            required
          />
        </div>
      </div>
      <div class="input-field flex mb-4">
        <div class="w-44 label text-right mt-4 mr-6"></div>
        <div class="w-form">
          <input
            class="input w-full py-3 px-4 focus:outline-none"
            placeholder="Postal Code"
            formControlName="postelcode"
          />
        </div>
      </div>
      <div class="input-field flex mb-4">
        <div class="w-44 label text-right mt-4 mr-6"></div>
        <div class="w-form">
          <input
            class="input w-full py-3 px-4 focus:outline-none"
            placeholder="City"
            formControlName="city"
          />
        </div>
      </div>
      <div class="input-field flex mb-4">
        <div class="w-44 label text-right mt-4 mr-6"></div>
        <div class="w-form">
          <input
            class="input w-full py-3 px-4 focus:outline-none"
            placeholder="State"
            formControlName="state"
          />
        </div>
      </div>
      <div class="input-field flex mb-4">
        <div class="w-44 label text-right mt-4 mr-6"></div>
        <div class="w-form">
          <!-- <input
            class="input w-full py-3 px-4 focus:outline-none"
            placeholder="Country"
            formControlName="country"
          /> -->
          <app-dropdown
            placeholder="Select Country"
            [options]="countryList"
            [displayKey]="'name'"
            [emitId]="true"
            formControlName="country"
          ></app-dropdown>
        </div>
      </div>

      <div class="input-field flex mb-4">
        <div class="w-44 label text-right mt-4 mr-6"><label for="">Default Currency*</label></div>
        <div class="w-form">
          <!-- <select
            class="input py-3 px-4 w-full"
            type="select"
            placeholder="Select location / venue of class"
            [formControlName]="'currency'"
          >
            <option value="" disabled selected>Currency</option>
            <option *ngFor="let currency of defaultCurrencies" [value]="currency.id">
              {{ currency?.name }}
            </option>
          </select> -->
          <app-dropdown
            placeholder="Select Currency"
            [options]="defaultCurrencies"
            [displayKey]="'name'"
            [emitId]="true"
            formControlName="currency"
          ></app-dropdown>
        </div>
      </div>
      <div class="input-field flex mb-4">
        <h5 class="input-section-subheading font-bold mb-0 mt-8 mr-8">Bank Account Details</h5>
        <div class="w-form" *ngIf="idStatus">
          <span class="flex">
            <div class="mb-4 mt-9 mr-4"><app-formright></app-formright></div>
            <p
              class="mb-4 mt-8 not-italic font-normal font-poppins text-base leading-6 text-left text-primaryFont"
            >
              Bank Account connected
            </p>
          </span>
        </div>
        <div class="w-form" *ngIf="!idStatus">
          <p
            class="mb-4 mt-8 not-italic font-normal font-poppins text-base leading-6 text-left text-primaryFont"
          >
            We’ve partnered with
            <span class="italic font-bold text-primaryFont text-base mr-1"> Rapyd </span> to help
            you <span class="block">collect online payments securely.</span>
          </p>
        </div>
        <!-- <div class="w-form">
          <p
            class="mb-4 mt-8 not-italic font-normal font-poppins text-base text-left text-primaryFont"
          >
            Account number/ID
          </p>
        </div> -->
      </div>
      <!-- <div class="input-field flex mb-4">
        <div class="w-44 label text-right mt-4 mr-6"></div>

        <div class="w-form">
          <span class="flex">
            <div class="mb-4 mt-0 mr-4"><app-awaiting></app-awaiting></div>
            <p
              class="mb-4 mt-0 not-italic font-normal font-poppins text-base leading-6 text-left text-primaryFont"
            >
              Awaiting Confirmation
            </p>
          </span>
        </div>
      </div> -->
      <div class="input-field flex mb-4">
        <div class="w-44 label text-right mt-4 mr-6"></div>
        <div class="w-form">
          <button
            [disabled]="connectbanks?.value || !paymentForm?.valid"
            class="primary-button w-56"
            (click)="onConnectBank()"
            *ngIf="!idStatus"
          >
            Connect Bank Account
          </button>
          <button
            [disabled]="!paymentForm?.valid"
            class="primary-button w-64"
            *ngIf="idStatus"
            (click)="onUpdateBank()"
          >
            Update Bank Information
          </button>
        </div>
      </div>
      <div class="input-field checkbox-input flex mb-4">
        <div class="w-44 label text-right mt-4 mr-6"></div>
        <div class="w-form" *ngIf="!idStatus">
          <label
            class="check-container not-italic font-normal font-poppins text-base leading-6 text-left text-primaryFont"
            >It’s okay, I do not intend to collect online payments right now.
            <input type="checkbox" [formControlName]="'connectbank'" />
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="detail-section w-5/12"></div>
  </div>
</form>
