.fixed-header {
  width: calc(100% - 12.5rem);
  &-mask {
    width: calc(100% - 12.5rem);
    margin-left: 10rem;
    background-color: #f1f4f5;
    height: 3rem;
  }
}
.website-page-heading {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 2px solid #d6e1e3;
  .header {
    letter-spacing: -2px;
    @apply font-baloo text-primaryFont;
    .one {
      color: #64c2bc;
      @apply font-baloo;
    }
  }
}
.add-info {
  padding-top: 4.75rem;
  .detail-section {
    background-color: #eaf3f6;
    border-bottom-right-radius: 20px;
    &-subheading {
      @apply text-primaryFont;
    }
  }
  .heading {
    font-size: 36px;
    letter-spacing: -1px;
    @apply font-baloo text-primaryFont font-normal leading-8;
  }
  .text {
    @apply font-poppins font-normal text-base leading-6 text-primaryFont;
  }
}

.input-section {
  border-bottom-left-radius: 20px;
  &-subheading {
    @apply text-primaryFont;
  }
  .input-field {
    &-secondary-text {
      @apply text-primaryFont;
    }
    .w-form {
      width: calc(100% - 11rem);
    }
    .label {
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #154f5b;
      @apply font-poppins font-medium text-base leading-6 text-primaryFont;
    }
    .input {
      border: 2px solid #d6e1e3;
      @apply bg-white text-primaryFont rounded-lg;
    }
    .radio-input {
      border: 2px solid #d6e1e4;
      &-border-b {
        border-bottom: 2px solid #d6e1e4;
      }
    }
  }
}
