.sign-up {
  .header {
    margin-bottom: 34px;
    .title {
      font-family: Baloo;
      font-size: 32px;
      letter-spacing: -2px;
      color: #154f5b;
    }
    .content {
      font-family: Poppins;
      line-height: 26px;
      color: #154f5b;
      .goto-login {
        color: #00a4b7;
      }
    }
  }
  .form-signup {
    .input-field {
      .input-signup {
        border: 2px solid #d6e1e3;
        border-radius: 10px;
        font-family: Poppins;
        line-height: 24px;
        color: #154f5b;
        .domain {
          color: #154f5b;
        }
      }
      .error {
        display: none;
      }
    }
    .error-active {
      .border-red {
        border: 2px solid #ff725e;
      }
      .error {
        display: block;
        font-family: Poppins;
        line-height: 18px;
        color: #ff725e;
      }
    }
  }
  .or-class {
    font-family: Poppins;
    line-height: 26px;
    color: #41707a;
  }
  .icon-holder {
    top: 50%;
    transform: translateY(-50%);
  }
  // .warning{
  //   top:15px;
  //   right: 8px;
  // }
  // .right{
  //   top:15px;
  //   right: 8px;
  // }
  .footer {
    font-family: Poppins;
    line-height: 18px;
    color: #73959d;
  }
}
.domain-input-width {
  max-width: calc(100% - 1.75rem - 126px);
}
input.domain-input-width {
  width: calc(100% - 1.75rem - 136.78px);
}
