<div class="flex flex-col min-h-full rounded-5 overflow-hidden">
  <div class="website-page-heading bg-white py-4 px-8 flex justify-between">
    <header class="header leading-9 font-normal not-italic">
      <span class="text-4xl">Bookings</span>
    </header>
    <button
      *ngIf="hasStarted && bookingCount > 0"
      class="primary-button w-48"
      [routerLink]="['../add-booking']"
    >
      Register A Walk-in
    </button>
  </div>
  <hr class="line bg-[#e5e5e5]" />
  <div
    class="website-page bg-white p-8 font-poppins text-primaryFont rounded-b-3xl"
    *ngIf="!true; else noWebsiteInfo"
  >
    <main>
      <app-table-booking-component class="flex flex-1"></app-table-booking-component>
    </main>
  </div>
  <!-- <app-no-data-service-component class="flex flex-1"></app-no-data-service-component> -->

  <ng-template #noWebsiteInfo>
    <div class="website-page bg-white p-8 font-poppins text-primaryFont rounded-b-3xl">
      <app-table-booking-component class="flex flex-1"> </app-table-booking-component>
    </div>
  </ng-template>
</div>
