.fixed-header {
  width: calc(100% - 12.5rem);
  // width: calc(100% - 10rem - 15px);
  &-mask {
    width: calc(100% - 12.5rem);
    margin-left: 10rem;
    background-color: #f1f4f5;
    height: 3rem;
  }
}
.website-page-heading {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 2px solid #d6e1e3;
  .header {
    font-family: Baloo !important;
    letter-spacing: -2px;
    color: #154f5b;
  }
  .edit-button {
    background-color: #00a4b7;
    font-family: Baloo;
    font-stretch: normal;
    letter-spacing: normal;
  }
}
.add-info {
  padding-top: 4.75rem;

  .heading {
    font-family: Baloo;
    color: #154f5b;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 32px;
    letter-spacing: -1px;
  }
  .text {
    font-family: poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #154f5b;
  }
}

.input-section {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  &-subheading {
    color: #154f5b;
  }
  &-info {
    color: #154f5b;
    background-color: #f6f5ea;
  }
  .input-field {
    &-secondary-text {
      color: #154f5b;
    }
    .w-form {
      width: calc(100% - 11rem);
    }
    .label {
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #154f5b;
    }
    .input {
      background: #ffffff;
      border: 2px solid #d6e1e3;
      border-radius: 8px;
      // width: 360px;
      color: #154f5b;
    }
  }
  .logout-button {
    font-family: Baloo;
    color: #16adb6;
    border: 3px solid #00a4b7;
    &:hover {
      background-color: #00a4b7;
      color: white;
    }
  }
}
