<div class="fixed z-40 fixed-header">
  <div class="website-page-heading bg-white py-4 px-8 flex justify-between w-full">
    <header class="header leading-9 font-normal not-italic flex items-center">
      <span class="text-4xl">Booking for {{ statusData?.account?.first_name }}</span>
    </header>
    <div class="flex justify-between">
      <button class="secondary-button" (click)="navigateToEdit()"><span>Reschedule</span></button>
    </div>
  </div>
</div>
<div class="fixed-header-mask fixed z-30 left-0 top-0"></div>

<div
  class="fixed z-50 booking-toast rounded-lg shadow py-5 px-4 flex items-center"
  *ngIf="!settledInvoice"
>
  <img src="../../../../../assets/images/icons/check.svg" alt="" class="w-6" />
  <span class="ml-4 text-white">Settled invoice email has been sent to the walk-in customer.</span>
</div>
<div
  class="fixed z-50 booking-toast rounded-lg shadow py-5 px-4 flex items-center"
  *ngIf="!settledInvoice"
>
  <img src="../../../../../assets/images/icons/check.svg" alt="" class="w-6" />
  <span class="ml-4 text-white">Settled invoice email has been sent to the walk-in customer.</span>
</div>
<ng-container *ngFor="let stdata of [statusData]">
  <div class="add-info flex w-full text-primaryFont min-h-full">
    <div class="input-section w-7/12 bg-white py-8 px-12 flex flex-col">
      <div class="input-field flex mb-8">
        <div class="w-44 label text-right mr-6">
          <label for="">Email*</label>
        </div>
        <div class="w-form">
          <div class="flex items-center">
            <span>{{ stdata?.account?.User?.email || '-' }}</span>
          </div>
        </div>
      </div>
      <div class="input-field flex mb-8">
        <div class="w-44 label text-right mr-6"><label for="">Phone Number</label></div>
        <div class="w-form">
          <div class="flex items-center">
            <span>{{ stdata?.account?.phone_number || '-' }}</span>
          </div>
        </div>
      </div>
      <div class="input-field flex mb-8">
        <div class="w-44 label text-right mr-6"><label for="">Customer Name</label></div>
        <div class="w-form">
          <div class="flex items-center">
            <span>{{
              stdata?.account?.first_name +
                (stdata?.account?.last_name ? ' ' + stdata?.account?.last_name : '') || '-'
            }}</span>
          </div>
        </div>
      </div>
      <div class="input-field flex mb-8" *ngIf="stdata?.attendee_name">
        <div class="w-44 label text-right mr-6"><label for="">Booked For*</label></div>
        <div class="w-form">
          <div class="flex items-center">
            <span>{{ stdata?.attendee_name || '-' }}</span>
          </div>
        </div>
      </div>
      <div class="input-field flex mb-8">
        <div class="w-44 label text-right mr-6"><label for="">Service*</label></div>
        <div class="w-form">
          <div class="flex items-center">
            <span>{{ stdata?.order_line_item?.[0]?.product?.title || '-' }}</span>
          </div>
        </div>
      </div>
      <div class="input-field flex mb-8">
        <div class="w-44 label text-right mr-6"><label for="">Booking Date*</label></div>
        <div class="w-form">
          <div class="flex items-center">
            <span>{{ stdata?.date_time ?? '' | date: 'MM/dd/yyyy' }}</span>
          </div>
        </div>
      </div>
      <div class="input-field flex mb-8">
        <div class="w-44 label text-right mr-6"><label for="">Date & Slot*</label></div>
        <div class="w-form">
          <!-- <div class="flex items-center">
            <span>{{ getDayName(stdata?.order_session?.[0]?.session?.date) || '-' }}</span>
            <span class="ml-8">{{ classTimeRanged || '-' }}</span>
          </div> -->
          <div class="flex-1">
            <div
              class="flex w-full gap-3"
              [ngClass]="{ 'mb-3': !isLastTR }"
              *ngFor="let timeRange of timeRangeSerialized; let isLastTR = last"
            >
              <div class="w-32">
                <span>{{ timeRange?.label }}</span>
              </div>
              <div class="flex-1">
                <div
                  class="flex gap-3"
                  [ngClass]="{ 'mb-3': !isLast }"
                  *ngFor="let range of timeRange.ranges; let isLast = last"
                >
                  <div>
                    <span>{{ range.start_time_label }}</span>
                  </div>
                  <span> - </span>
                  <div>
                    <span>{{ range.end_time_label }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="input-field flex mb-8">
        <div class="w-44 label text-right mr-6"><label for="">Payment*</label></div>
        <div class="w-form">
          <div class="flex items-center">
            <span class="mr-2"
              >{{
                stdata?.order_line_item?.[0]?.currency === 'INR'
                  ? '₹'
                  : stdata?.order_line_item?.[0]?.currency === 'USD'
                  ? '$'
                  : stdata?.order_line_item?.[0]?.currency === 'SGD'
                  ? 'S$'
                  : stdata?.order_line_item?.[0]?.currency === 'GBP'
                  ? '£'
                  : stdata?.order_line_item?.[0]?.currency === 'AUD'
                  ? 'A$'
                  : ''












              }}{{ stdata?.invoice?.due_amount || '-' }}
              {{ stdata?.invoice?.payments?.[0]?.payment_mode?.split('_')?.join(' ') ?? 'Online' | titlecase }}</span
            >
            <span class="tooltip-right" *ngIf="stdata?.invoice?.status === 'SETTLED'">
              <span class="dashboard-new-i-blue cursor-help relative top-1"
                ><img src="../../../../../assets/images/icons/check.svg" class="mb-2"
              /></span>
              <span class="tooltiptext card-tooltip-text">Payment Complete</span>
            </span>
            <span
              class="tooltip-right"
              *ngIf="
                stdata?.invoice?.status === 'PENDING_PAYMENT' || stdata?.invoice?.status === 'OPEN'
              "
            >
              <span class="dashboard-new-i-blue cursor-help relative top-1"
                ><img src="../../../../../assets/images/icons/pending.svg" class="mb-2"
              /></span>
              <span class="tooltiptext card-tooltip-text">Payment Pending</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="detail-section w-5/12">
      <div class="px-8 py-8 relative"></div>
    </div>
  </div>
</ng-container>
