<div class="w-full website-page bg-white p-8 flex flex-col items-center justify-center">
  <app-no-data-view-website></app-no-data-view-website>
  <h1 class="title not-italic font-normal text-2xl leading-6 mb-0 mt-12">Your services will bedisaplayed here
  </h1>
  <p class="content font-normal not-italic text-base mt-3">Create ypur website, start adding services and share them with your customers</p>
  <div class="flex justify-evenly mt-8">
    <button class=" template-button rounded-full mr-2 py-3 px-8 not-italic bg-white font-normal text-base">See
     See Website
      Template</button>
    <button class="getstarted rounded-full ml-2 py-3 px-14 not-italic text-white font-normal text-base"
      [routerLink]="['/home']" routerLinkActive="router-link-active">Get Started</button>
  </div>
</div>
