<div class="w-full website-page bg-white p-8 flex flex-col items-center justify-center">
  <app-no-data-view-website></app-no-data-view-website>
  <h1 class="title not-italic font-normal text-2xl leading-6 mb-0 mt-12">
    Your services will be displayed here
  </h1>
  <p class="content font-normal not-italic text-base mt-3">
    Start adding the services you offer and share them with your customers
  </p>
  <div class="flex justify-evenly mt-8">
    <!-- <button class="secondary-button mr-2"><span>See TinyCard™ Template</span></button> -->
    <button
      class="primary-button w-48 ml-2"
      [routerLink]="['../add-service']"
      routerLinkActive="router-link-active"
    >
      Add A Service
    </button>
  </div>
</div>
