<div class="relative w-full custom-select" #dropdown>
  <div class="w-full flex items-center justify-between bg-white py-3 px-4 custom-select-box cursor-pointer"
    (click)="open = !open">
    <div class="custom-select-box-valueContainer flex flex-wrap items-center">
      <ng-container *ngIf="_multiSelect && selectedOption">
        <ng-container *ngFor="let option of _options">
          <div class="flex items-center bg-white p-1 mr-1 my-1 custom-select-box-chip"
            *ngIf="option.dropdown_field_data?.selected">
            <span class="whitespace-nowrap text-sm text-primaryFont">{{option[_displayKey]}}</span>
            <button class="ml-2">
              <img src="../../../../../assets/images/icons/close -black.svg" alt=""
                (click)="selectUnSelectValue(option)">
            </button>
          </div>
        </ng-container>
      </ng-container>
      <span *ngIf="selectedOption && !_multiSelect">{{selectedOption[_displayKey]}}</span>
      <span class="custom-select-placeholder" *ngIf="!selectedOption">{{ _placeholder }}</span>
    </div>
    <button class="w-5 h-full items-center">
      <img src="../../../../../assets/images/icons/down.svg" alt="" class="w-full">
    </button>
  </div>
  <div class="absolute top-full left-0 w-full z-10 max-h-56 overflow-y-auto" *ngIf="open">
    <div class="bg-white w-fit min-w-full flex flex-col border border-gray-200 border-solid shadow-lg rounded">

      <!-- multi select -->
      <div class="w-full checkbox-input mt-2 px-4" *ngIf="_multiSelect">
        <div class="w-full mb-4" *ngFor="let option of _options; let isFirst = first"
          [ngClass]="{ 'border-b border-gray-300': !isFirst }">
          <label class="check-container">{{option[_displayKey]}}
            <input type="checkbox" [ngModel]="option.dropdown_field_data?.selected"
              (ngModelChange)="selectUnSelectValue(option)">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>

      <!-- single select with radio -->
      <div class="flex flex-col w-full rounded-lg radio-input" *ngIf="!_multiSelect && _showRadio">
        <label class="radio-container py-3 radio-input-border-b" [for]="_label + i"
          *ngFor="let option of _options; let i = index">
          <div class="flex flex-col">
            <p class="text-primaryFont">{{option[_displayKey]}}</p>
          </div>
          <input type="radio" [attr.id]="_label + i" [value]="true"
            [ngModel]="selectedOption?.[_idKey] === option[_idKey]" (ngModelChange)="selectUnSelectValue(option)">
          <span class="radiomark"></span>
        </label>
      </div>

      <!-- Single select -->
      <ng-container *ngIf="!_multiSelect && !_showRadio">
        <button class="px-4 custom-select-item text-left hover:bg-gray-100" *ngFor="let option of _options;"
          (click)="selectUnSelectValue(option)">
          <div
            class="custom-select-item-div w-full border-b border-gray-300 border-solid py-2 whitespace-nowrap text-primaryFont">
            {{ option[_displayKey] }}
          </div>
        </button>
      </ng-container>

      <!-- add location -->
      <div class="w-full relative px-4 my-3" *ngIf="_addCustomValue">
        <button class="text-secondaryBlue font-bold" (click)="openAddCustomValue = !openAddCustomValue">+ Add New {{
          _label | titlecase }}</button>
        <ng-container *ngIf="openAddCustomValue">
          <input class="input w-full py-3 pr-14 px-4 focus:outline-none"
            placeholder="Enter new {{ _label | lowercase }} name" [(ngModel)]="customValueInput" />
          <div class="absolute right-0 top-1/2 -translate-y-1/2 mr-4 flex items-center">
            <button class="text-secondaryBlue font-bold mr-3" (click)="selectCustomValue()">Add</button>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
