.custom-select {
  &-box {
    border: 2px solid #d6e1e3;
    border-radius: 8px;
    min-height: 3rem;
    &-valueContainer {
      width: calc(100% - 1.25rem);
    }
    &-chip {
      border: 1px solid #d6e1e3;
      border-radius: 8px;
      img {
        width: 10px;
      }
    }
  }
  &-placeholder {
    color: #a2a3af;
  }
  &-item {
    &:last-child {
      .custom-select-item-div {
        border-bottom: 0px !important;
      }
    }
  }
  .input {
    background: #ffffff;
    border: 2px solid #d6e1e3;
    border-radius: 8px;
    // width: 360px;
    color: #154f5b;
  }
  .radio-input {
    &-border-b {
      border-bottom: 2px solid #d6e1e4;
    }
  }
}
