.custom-select {
  &-drop {
    &::-webkit-scrollbar {
      width: 3px !important;
      &-track {
        width: 3px !important;
        background-color: white;
      }
      &-thumb {
        width: 3px !important;
        border-radius: 0px;
        background-clip: unset;
        border: 0px solid transparent !important;
      }
    }
    transition-property: all;
    @apply duration-200;
  }
  &-box {
    border: 2px solid #d6e1e3;
    border-radius: 8px;
    min-height: 3rem;
    &-open {
      border-color: #154f5b !important;
    }
    &-valueContainer {
      width: calc(100% - 1.25rem);
    }
    &-chip {
      border: 1px solid #d6e1e3;
      border-radius: 8px;
      img {
        width: 10px;
      }
    }
    &.disabled {
      @apply bg-veryLightGray pointer-events-none text-[#73959d];
    }
  }
  &-placeholder {
    color: #a2a3af;
  }
  &-item {
    &:last-child {
      .custom-select-item-div {
        border-bottom: 0px !important;
      }
    }
  }
  .input {
    background: #ffffff;
    border: 2px solid #d6e1e3;
    border-radius: 8px;
    // width: 360px;
    color: #154f5b;
    &.disabled {
      @apply text-[#73959d];
    }
  }
  .radio-input {
    &-border-b {
      border-bottom: 2px solid #d6e1e4;
    }
  }
}
.check-container {
  margin-bottom: 1rem !important;
}

:host(.ng-touched.ng-invalid.show-error) {
  .custom-select {
    .custom-select-box {
      border-color: #ff725e;
    }
  }
}
