.side-nav {
  .nav-text {
    font-family: Poppins !important;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #154f5b;
  }
  .nav-link {
    height: 4.5rem;
  }
  .active-border {
    display: none;
  }
}
.nav-item {
  & :hover {
    .active-border {
      display: block;
      // background: #00a4b7;
      background: linear-gradient(90deg, #359cbb, #64c299);
    }
    .icon {
      @apply hidden;
    }
    .active-icon {
      @apply block;
    }
    .nav-text {
      @apply font-bold;
    }
  }
  .icon {
    @apply block;
  }
  .active-icon {
    @apply hidden;
  }
}
// <!--Active item Condition --!>

.active {
  .active-border {
    display: block;
    background: linear-gradient(90deg, #359cbb, #64c299);
  }
  .icon {
    @apply hidden;
  }
  .active-icon {
    @apply block;
  }
  .nav-text {
    @apply font-bold;
  }
}

a.disabled {
  pointer-events: none;
  cursor: default;
}
// <!--Active item Condition --!>
