.side-nav {
  .nav-text {
    font-family: Poppins !important;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #154f5b;
  }
  .nav-link {
    height: 4.5rem;
  }

  svg {
    .color-fill {
      fill: #6b9eb6 !important;
    }
  }
  .active-border {
    display: none;
  }
}
.nav-item {
  & :hover {
    .active-border {
      display: block;
      background: #00a4b7;
    }
    .color-fill {
      fill: #00a4b7 !important;
    }
  }
}
// <!--Active item Condition --!>

.active {
  .active-border {
    display: block;
    background: #00a4b7;
  }
  .color-fill {
    fill: #00a4b7 !important;
  }
}
// <!--Active item Condition --!>
