.website-page-heading{
  
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    .header{
      font-family: Baloo!important;
        color: #154F5B;
        .one{
            font-family: Baloo;
            color: #64C2BC;
             transform: translateY(10px)
        }
    }
  }
  .line{
    border: 1px solid #E5E5E5;
  }