<div class=" website-page-heading bg-white pt-6 pb-6 px-8 flex justify-between">
    <header class="header leading-9 font-normal not-italic"><span class="one -pb-4 font-normal not-italic text-7xl leading-6"> 1 </span> <span class="text-4xl">Add Business Info</span> </header>
    <div class="flex justify-between">
        <button class="cancel-button text-base not-italic font-normal leading-6 mr-2">Cancel</button>
        <button class="save-button active-save rounded-full text-white text-center text-base font-normal not-italic py-3 px-20 ml-2">Save</button>
    </div>
</div>
<hr class="line">
<div class=" add-info flex w-full">
    <div class="input-section w-8/12 bg-white py-8 pl-16 pr-16 flex flex-col">
        <div class="input-field flex mb-8">
            <div class=" w-44 label mt-4"><label for="">Company Name*</label></div>
            <div><input class="input py-3 px-4 " placeholder="Company name" /></div>
        </div>
        <div class="input-field flex mb-8">
            <div class=" w-44 label mt-4"><label for="">Company Logo  </label></div>
            <div><input class="input-photo text-center"  placeholder="Add a Logo" /></div>
        </div>
        <div class="input-field flex mb-8">
            <div class=" w-44 label mt-4"><label for="">Puchline*  </label></div>
            <div><input class="input py-3 px-4" placeholder="Eg: I help kids learn the basics of Music" /></div>
        </div>
        <div class="input-field flex mb-8">
            <div class=" w-44 label mt-4"><label for="">About Me*  </label></div>
            <div><input class="input py-3 px-4" placeholder="Tell a little about of yourself" /></div>
        </div>
        <div class="input-field flex mb-8">
            <div class=" w-44 label mt-4"><label for="">Social Links*  </label></div>
            <div class="flex flex-col">
            <div><input class="input py-3 px-4" placeholder="Enter URL" /></div>
            <div class="add-another mt-2 font-normal text-base not-italic">+ Add Another </div>
            </div>
        </div>
        
        <div class="input-field flex mb-8">
            <div class=" w-44 label mt-4"><label for="">Photos*</label></div>
            <div class="flex">
            <div><input class="input-photo text-center mr-1"  placeholder="Add profile photo" /></div>
            <div><input class="input-photo text-center mr-1"  placeholder="Add photo" /></div>
            <div><input class="input-photo text-center mr-1"  placeholder="Add photo" /></div>
          </div>
        </div>
        <div class="input-field flex mb-8">
            <div class=" w-44 label mt-4"><label for=""> Awards /<br>Certifications/<br>
                Licenses</label></div>
                <div class="flex flex-col">
            <div class="input-award flex flex-col px-4 py-4">
                <select  class="input py-3 px-4 mb-4" type="select">
                    <option value="">option1</option>
                    <option value="">option2</option>
                </select>
                <input class="input py-3 px-4 mb-4" placeholder="Enter name of Certificate / License" />
                <input class="input py-3 px-4 mb-4" placeholder="Expiry date ( MM/DD/YY)" />
                <input class="input-photo text-center mr-2"  placeholder="Add a Logo" />

            </div>
            <div class="add-another mt-2 font-normal text-base not-italic">+ Add Another </div>
        </div>
        </div>
        <div class="input-field flex mb-8">
            <div class=" w-44 label mt-4"><label for="">Testimonial</label></div>
            <div class="flex flex-col">
            <div class="input-award flex flex-col px-4 py-4">
                <input class="input py-3 px-4 mb-4" placeholder="Enter client name" />
                <input class="input py-3 px-4 mb-4" placeholder="Client title eg ”Parents of John Doe” or “VP at Google" />
                <input class="input py-3 px-4 mb-4" placeholder="Enter testimonial" />
                <input class="input-photo text-center mr-2"  placeholder="Add photo of client" />

            </div>
            <div class="add-another mt-2 font-normal text-base not-italic">+ Add Another </div>
        </div>
        </div>
    </div>
    <div class="detail-section w-4/12">
        <div class="px-8 py-8 relative">
            <div class="tinytiptext">
            <div class="heading">💡 Tiny Tip</div>
            <div class="text pt-7">Punchline is the first thing your customer will read on your website. Keep it crisp! for eg:<br>

                “Transform your hobby into a business”<br>
                
                “Your Own Personal Teacher 
                Live!”</div>
        </div>
        <!-- <div class="px-8 py-8">
            <div class="heading">💡 Tiny Tip</div>
            <div class="text pt-7"> Add atleast 3 photos for better impact<br>
                1. A photo of yourself looking at the camera.<br>
                
                2. A photo of you teaching / speaking to your  students / clients.<br>
                
                3. A photo of your setup</div>
        </div> -->
    </div>

</div>