.table-container {
  &-borderRow {
    border-bottom: 1px solid #d6e1e3;
  }
  .filter-card {
    width: 10rem;
  }
  .filter-item {
    &:last-child {
      .filter-item-div {
        border-bottom: 0px !important;
      }
    }
  }
}
