.table-container {
  &-button {
    border: 2px solid #00a4b7;
    color: #00a4b7;
    &-svgFill {
      fill: #00a4b7;
    }
    &:hover,
    &:active {
      background-color: #00a4b7;
      color: #fff;
      .table-container-button-svgFill {
        fill: #fff;
      }
    }
    &-disabled {
      background-color: transparent !important;
      border-color: #d6e1e3 !important;
      color: #d6e1e3 !important;
      cursor: not-allowed !important;
      .table-container-button-svgFill {
        fill: #d6e1e3 !important;
      }
    }
    &:disabled {
      background-color: transparent !important;
      border-color: #d6e1e3 !important;
      color: #d6e1e3 !important;
      cursor: not-allowed !important;
      .table-container-button-svgFill {
        fill: #d6e1e3 !important;
      }
      @apply cursor-not-allowed;
    }
  }
  &-borderRow {
    border-bottom: 1px solid #d6e1e3;
  }
  .filter-card {
    width: 10rem;
  }
  .filter-item {
    // min-width: 100%;
    // width: fit-content;
    &:last-child {
      .filter-item-div {
        border-bottom: 0px !important;
      }
    }
    .check-container {
      display: block;
      position: relative;
      padding-left: 30px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      color: #154f5b;
    }

    /* Hide the browser's default checkbox */
    .check-container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: transparent;
      border: 1px solid #154f5b;
      border-radius: 4px;
    }

    /* When the checkbox is checked, add a blue background */
    .check-container input:checked ~ .checkmark {
      background-color: #00a4b7;
      border: 1px solid #00a4b7;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: '';
      position: absolute;
      display: none;
    }

    /* Show the checkmark when checked */
    .check-container input:checked ~ .checkmark:after {
      display: block;
    }
    .check-container .checkmark:after {
      left: 6px;
      top: 1px;
      width: 7px;
      height: 13px;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      transform: rotate(42deg);
    }
  }
}
