<div class="table-container w-full rounded-t-lg">
  <form [formGroup]="filterForm" *ngIf="productsList?.length || !isFilterEmpty">
    <div class="flex flex-wrap gap-2 items-center mb-4">
      <div class="filter-card">
        <app-dropdown
          [options]="scheduleOptions"
          placeholder="Schedule"
          formControlName="product_type"
          [emitId]="true"
        >
        </app-dropdown>
      </div>
      <div class="filter-card">
        <app-dropdown
          [options]="weekDayOptions"
          placeholder="Days"
          formControlName="days_of_week"
          [emitId]="true"
          [idKey]="'value'"
          [multiSelect]="true"
          [closableChip]="false"
        ></app-dropdown>
      </div>
      <div class="filter-card">
        <app-dropdown
          [options]="pricingTypeOptions"
          placeholder="Pricing Type"
          formControlName="pricing_type"
          [emitId]="true"
        ></app-dropdown>
      </div>
      <div class="filter-card">
        <app-dropdown
          [options]="locationOptions"
          placeholder="Location"
          formControlName="location_type"
          [emitId]="true"
        >
        </app-dropdown>
      </div>
      <div class="filter-card">
        <app-dropdown
          [options]="visibilityOptions"
          placeholder="Visibility"
          formControlName="status"
          [emitId]="true"
        >
        </app-dropdown>
      </div>
      <!-- <div class="relative mb-2 mr-2">
        <div
          class="flex items-center justify-between py-2 px-3 bg-white rounded border border-gray-300 border-solid rounded-lg filter-card">
          <span>Schedule</span>
          <div class="flex items-center justify-center">
            <img src="../../../../../assets/images/icons/down.svg" alt="">
          </div>
        </div>
        <div class="absolute top-full left-0 w-full z-50">
          <div class="bg-white w-fit min-w-full flex flex-col border border-gray-200 border-solid shadow rounded">
            <button class="px-4 filter-item text-left hover:bg-gray-100">
              <div class="w-full border-b border-gray-300 border-solid py-2 whitespace-nowrap">Fixed</div>
            </button>
            <button class="px-4 filter-item text-left hover:bg-gray-100">
              <div class="w-full border-b border-gray-300 border-solid py-2 whitespace-nowrap">Flexible</div>
            </button>
          </div>
        </div>
      </div> -->
      <!-- <div class="relative mb-2 mr-2">
        <div
          class="flex items-center justify-between py-2 px-3 bg-white border border-gray-300 border-solid rounded-lg filter-card">
          <span>Days</span>
          <div class="flex items-center justify-center">
            <img src="../../../../../assets/images/icons/down.svg" alt="">
          </div>
        </div>
        <div class="absolute top-full left-0 w-full z-50">
          <div class="bg-white w-fit min-w-full flex flex-col border border-gray-200 border-solid shadow rounded">
            <div class="px-4 filter-item text-left hover:bg-gray-100 filter-item">
              <div class="w-full border-b border-gray-300 border-solid py-2 whitespace-nowrap filter-item-div"><label
                  class="check-container">Mon
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label></div>
            </div>
            <div class="px-4 filter-item text-left hover:bg-gray-100 filter-item">
              <div class="w-full border-b border-gray-300 border-solid py-2 whitespace-nowrap filter-item-div"><label
                  class="check-container">Tue
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label></div>
            </div>
            <div class="px-4 filter-item text-left hover:bg-gray-100 filter-item">
              <div class="w-full border-b border-gray-300 border-solid py-2 whitespace-nowrap filter-item-div"><label
                  class="check-container">Wed
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label></div>
            </div>
            <div class="px-4 filter-item text-left hover:bg-gray-100 filter-item">
              <div class="w-full border-b border-gray-300 border-solid py-2 whitespace-nowrap filter-item-div"><label
                  class="check-container">Thu
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label></div>
            </div>
            <div class="px-4 filter-item text-left hover:bg-gray-100 filter-item">
              <div class="w-full border-b border-gray-300 border-solid py-2 whitespace-nowrap filter-item-div"><label
                  class="check-container">Fri
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label></div>
            </div>
            <div class="px-4 filter-item text-left hover:bg-gray-100 filter-item">
              <div class="w-full border-b border-gray-300 border-solid py-2 whitespace-nowrap filter-item-div"><label
                  class="check-container">Sat
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label></div>
            </div>
            <div class="px-4 filter-item text-left hover:bg-gray-100 filter-item">
              <div class="w-full border-b border-gray-300 border-solid py-2 whitespace-nowrap filter-item-div"><label
                  class="check-container">Sun
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label></div>
            </div>
          </div>
        </div>
      </div>
      <div class="relative mb-2 mr-2">
        <div
          class="flex items-center justify-between py-2 px-3 bg-white rounded border border-gray-300 border-solid rounded-lg filter-card">
          <span>Pricing Type</span>
          <div class="flex items-center justify-center">
            <img src="../../../../../assets/images/icons/down.svg" alt="">
          </div>
        </div>
      </div>
      <div class="relative mb-2 mr-2">
        <div
          class="flex items-center justify-between py-2 px-3 bg-white rounded border border-gray-300 border-solid rounded-lg filter-card">
          <span>Location</span>
          <div class="flex items-center justify-center">
            <img src="../../../../../assets/images/icons/down.svg" alt="">
          </div>
        </div>
      </div>
      <div class="relative mb-2 mr-2">
        <div
          class="flex items-center justify-between py-2 px-3 bg-white rounded border border-gray-300 border-solid rounded-lg filter-card">
          <span>Visibility</span>
          <div class="flex items-center justify-center">
            <img src="../../../../../assets/images/icons/down.svg" alt="">
          </div>
        </div>
      </div> -->
      <div class="flex items-center mb-2 ml-5">
        <button class="noborder-button" (click)="resetFilterForm()">Clear Filters</button>
      </div>
    </div>
  </form>
  <table class="table-auto w-full">
    <thead>
      <tr class="bg-gray-100 border-b border-white border-solid">
        <th class="px-2 py-3 text-left font-semibold">
          <div class="flex items-center">
            <span> Service Name </span>
            <!-- <div class="ml-2">
              <img
                src="../../../../../assets/images/icons/sort.svg"
                alt=""
                srcset=""
                class="transform rotate-180"
              />
            </div> -->
          </div>
        </th>
        <th class="px-2 py-3 text-left font-semibold">Schedule</th>
        <th class="px-2 py-3 text-left font-semibold">Price</th>
        <th class="px-2 py-3 text-left font-semibold">Location</th>
        <th class="px-2 py-3 text-left font-semibold">Visibility</th>
        <th class="px-2 py-3 text-left font-semibold">Actions</th>
        <th class="px-2 py-3 text-left font-semibold"></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="!productsList.length && isFilterEmpty">
        <tr>
          <td class="italic text-xs pt-5 pb-1 px-2" colspan="7">Sample Service Listing</td>
        </tr>
        <tr
          class="table-container-borderRow cursor-pointer hover:bg-veryLightGrey hover:bg-opacity-50"
        >
          <td class="align-top px-2 py-3">
            <div class="flex items-start">
              <div>
                <div class="w-12 h-12 rounded overflow-hidden">
                  <img
                    src="../../../../../assets/images/services-dummy.png"
                    alt=""
                    class="w-full h-full object-cover"
                  />
                </div>
              </div>
              <span class="italic ml-2">Sports for kids under 3 years</span>
            </div>
          </td>
          <td class="align-top px-2 py-3">
            <div class="flex items-center">
              <span class="italic">Sports for kids under 3 years</span>
            </div>
          </td>
          <td class="align-top px-2 py-3">
            <div class="flex flex-col">
              <span class="italic whitespace-nowrap">$ xx / session</span>
              <span class="italic whitespace-nowrap">$ xxx / 4 sessions</span>
              <!-- <span class="italic whitespace-nowrap">$ xxx / 4 sessions</span>
              <span class="italic whitespace-nowrap">$ xxx / 4 sessions</span> -->
            </div>
          </td>
          <td class="align-top px-2 py-3">
            <div class="flex items-center">
              <span class="italic">Turf City, Singapore</span>
            </div>
          </td>
          <td class="align-top px-2 py-3">
            <div class="flex items-center">
              <span class="italic">Public</span>
            </div>
          </td>
          <td class="align-top px-2 py-3">
            <div class="flex items-center">
              <button class="secondary-button w-24" disabled><span>Share</span></button>
            </div>
          </td>
          <td class="align-top px-2 py-3">
            <div class="relative flex justify-end">
              <button class="secondary-button w-12 px-0" disabled>
                <svg
                  width="20"
                  height="5"
                  viewBox="0 0 20 5"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4.58333 2.27018C4.58333 2.55471 4.52729 2.83646 4.41841 3.09933C4.30952 3.3622 4.14992 3.60105 3.94873 3.80225C3.74754 4.00344 3.50869 4.16304 3.24581 4.27192C2.98294 4.38081 2.7012 4.43685 2.41667 4.43685C2.13214 4.43685 1.85039 4.38081 1.58752 4.27192C1.32465 4.16304 1.0858 4.00344 0.884602 3.80225C0.683408 3.60105 0.523813 3.3622 0.414927 3.09933C0.306042 2.83646 0.25 2.55471 0.25 2.27018C0.25 1.69555 0.478273 1.14445 0.884602 0.738117C1.29093 0.331788 1.84203 0.103516 2.41667 0.103516C2.9913 0.103516 3.5424 0.331788 3.94873 0.738117C4.35506 1.14445 4.58333 1.69555 4.58333 2.27018Z"
                    fill="url(#paint0_linear_1654_56)"
                  />
                  <path
                    d="M12.1668 2.27018C12.1668 2.84482 11.9386 3.39592 11.5322 3.80225C11.1259 4.20858 10.5748 4.43685 10.0002 4.43685C9.42553 4.43685 8.87443 4.20858 8.4681 3.80225C8.06177 3.39592 7.8335 2.84482 7.8335 2.27018C7.8335 1.69555 8.06177 1.14445 8.4681 0.738117C8.87443 0.331788 9.42553 0.103516 10.0002 0.103516C10.5748 0.103516 11.1259 0.331788 11.5322 0.738117C11.9386 1.14445 12.1668 1.69555 12.1668 2.27018Z"
                    fill="url(#paint1_linear_1654_56)"
                  />
                  <path
                    d="M17.5832 4.43685C18.1578 4.43685 18.7089 4.20858 19.1152 3.80225C19.5216 3.39592 19.7498 2.84482 19.7498 2.27018C19.7498 1.69555 19.5216 1.14445 19.1152 0.738117C18.7089 0.331788 18.1578 0.103516 17.5832 0.103516C17.0085 0.103516 16.4574 0.331788 16.0511 0.738117C15.6448 1.14445 15.4165 1.69555 15.4165 2.27018C15.4165 2.84482 15.6448 3.39592 16.0511 3.80225C16.4574 4.20858 17.0085 4.43685 17.5832 4.43685Z"
                    fill="url(#paint2_linear_1654_56)"
                  />
                  <defs>
                    <linearGradient
                      id="paint0_linear_1654_56"
                      x1="1.26961"
                      y1="2.27018"
                      x2="3.70711"
                      y2="2.27018"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="#359CBB" />
                      <stop offset="1" stop-color="#64C299" />
                    </linearGradient>
                    <linearGradient
                      id="paint1_linear_1654_56"
                      x1="8.8531"
                      y1="2.27018"
                      x2="11.2906"
                      y2="2.27018"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="#359CBB" />
                      <stop offset="1" stop-color="#64C299" />
                    </linearGradient>
                    <linearGradient
                      id="paint2_linear_1654_56"
                      x1="16.4361"
                      y1="2.27018"
                      x2="18.8736"
                      y2="2.27018"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="#359CBB" />
                      <stop offset="1" stop-color="#64C299" />
                    </linearGradient>
                  </defs>
                </svg>
              </button>
            </div>
          </td>
        </tr>
      </ng-container>
      <ng-container *ngFor="let product of productsList; let i = index">
        <tr
          [routerLink]="['../view-service', product.product_id]"
          class="table-container-borderRow cursor-pointer hover:bg-veryLightGrey hover:bg-opacity-50"
        >
          <td class="align-top px-2 py-3">
            <div class="flex">
              <div>
                <div class="w-12 h-12 rounded overflow-hidden">
                  <img
                    src="{{
                    product?.product_photos?.[0]?.photo_url
                    ?? product?.product_photos?.[1]?.photo_url
                    ?? product?.product_photos?.[2]?.photo_url
                    ?? '../../../../../assets/images/defualt-image.svg'
                  }}"
                    alt=""
                    class="w-full h-full object-cover"
                  />
                </div>
              </div>
              <span class="ml-2 cp">{{ product?.title ?? '-' }}</span>
            </div>
          </td>
          <td class="align-top px-2 py-3">
            <div class="flex items-center">
              <span *ngIf="product?.class?.class_time_ranges?.length">{{
                product?.class?.class_time_ranges | groupWeekDays
              }}</span>
              <span *ngIf="!product?.class?.class_time_ranges?.length">Flexible</span>
            </div>
          </td>
          <td class="align-top px-2 py-3">
            <div class="flex flex-col">
              <span class="whitespace-nowrap"
                >$ {{ product?.price ?? '-'
                }}{{ product?.product_type === ProductType.CLASS ? ' / session' : '' }}</span
              >
              <ng-container *ngIf="product.product_type === ProductType.CLASS">
                <ng-container *ngFor="let sessionPrice of product?.class?.class_packages">
                  <span
                    class="whitespace-nowrap"
                    *ngIf="sessionPrice?.no_of_sessions && sessionPrice?.price"
                  >
                    $ {{ sessionPrice.price }} / {{ sessionPrice.no_of_sessions }} sessions
                  </span>
                </ng-container>
              </ng-container>
              <!-- <span class=" whitespace-nowrap">$ xxx / 4 sessions</span> -->
              <!-- <span class=" whitespace-nowrap">$ xxx / 4 sessions</span> -->
            </div>
          </td>
          <td class="align-top px-2 py-3">
            <div class="flex items-center">
              <span class="">{{
                product?.class?.location_type === LocationType.BUSINESS_LOCATION
                  ? product?.class?.business_location?.location_name ?? '-'
                  : (product?.class?.location_type?.split('_')?.join(' ') ?? '-' | titlecase)
              }}</span>
            </div>
          </td>
          <td class="align-top px-2 py-3">
            <div class="flex items-center">
              <span class="">{{ product?.visibility ?? '' | titlecase }}</span>
            </div>
          </td>
          <td class="align-top px-2 py-3">
            <div class="flex items-center">
              <div class="relative" (click)="$event.stopPropagation()">
                <button
                  class="secondary-button w-24"
                  (click)="copyViewBox(i, product.product_id)"
                  [disabled]="!dashboardInfos?.domainActive"
                >
                  <span>Share</span>
                </button>

                <ng-container *ngIf="copyView === i">
                  <ng-container
                    *ngTemplateOutlet="share; context: { ShareLink: 'data' }"
                  ></ng-container>
                </ng-container>
              </div>
              <!-- confrim popup -->
              <div class="flex-1 flex justify-end" (click)="$event.stopPropagation()">
                <app-three-dots
                  [actions]="getActions(product)"
                  (actionTriggered)="handleAction($event, product)"
                ></app-three-dots>
              </div>
            </div>
          </td>
          <td class="align-top px-2 py-3"></td>
        </tr>
      </ng-container>
      <tr>
        <td colspan="7">
          <div
            class="w-full h-12 mt-8 flex justify-center items-center"
            *ngIf="(productsCount ?? 0) > (productsList?.length ?? 0)"
          >
            <button class="noborder-button" (click)="loadMore()">Load More</button>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="7">
          <div class="w-full" *ngIf="isFilterEmpty && !productsList?.length">
            <app-no-data-service-component class="flex flex-1"></app-no-data-service-component>
          </div>
          <app-no-result-service-component
            class="flex flex-1"
            *ngIf="!isFilterEmpty && !productsList?.length"
            (newItemEvent)="filterClear($event)"
          >
          </app-no-result-service-component>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- copy to clipboard div starts here -->

<ng-template #share let-copyLink="ShareLink" (click)="$event.stopPropagation()">
  <div
    class="absolute border border-grey-100 rounded-[20px] top-12 z-10 text-white font-medium bg-[#6B9EB6] p-6 right-0 w-96 cursor-auto"
  >
    <p class="flex items-center justify-between text-white font-poppins text-base">
      <span class="">Share service link with clients</span>
      <span
        class="text-white opacity-100 hover:opacity-80 text-3xl leading-none p-0 font-light cursor-pointer transform transition duration-700"
        (click)="copyView = null"
        >&times;</span
      >
    </p>

    <div class="relative overflow-hidden mt-3 bg-white rounded-lg flex">
      <input
        type="text"
        [value]="copyURL"
        class="absolute top-0 left-0 opacity-0 truncate text-primaryFont h-0 overflow-hidden rounded-lg z-0 focus:shadow focus:outline-none"
        #userinput
      />
      <div
        class="select-none leading-[48px] text-base truncate text-primaryFont h-12 w-full pl-4 z-0 focus:shadow focus:outline-none"
      >
        {{ copyURL }}
      </div>
      <button
        type="submit"
        class="copy-text justify-center pl-2 pr-4"
        (click)="copyInputMessage(userinput)"
      >
        <span class="copy-text bg-clip-text font-semibold">{{ copyStatus }}</span>
      </button>
    </div>
  </div>
</ng-template>
<!-- popover div ends here -->

<app-modal [(open)]="openProductDeleteModal" [modalConfig]="{ closeOnOutsideClick: true }">
  <h3 class="text-3xl font-normal font-baloo">Delete Service ?</h3>
  <p class="mt-4 font-poppins text-black">This action cannot be undone</p>
  <div class="flex justify-between mt-5">
    <div class="w-1/2 pr-2">
      <button class="secondary-button w-full" (click)="closeDeleteModal()">
        <span>No,Keep</span>
      </button>
    </div>
    <div class="w-1/2 pl-2">
      <button class="primary-button w-full" (click)="closeDeleteModal(true)">Yes, Delete</button>
    </div>
  </div>
</app-modal>
