<div class="createpassword">
  <header class="header">
    <h1 class="title not-italic font-normal leading-9 mb-10">
      {{ !isReset ? 'Create your Password' : 'Create new Password' }}
    </h1>
  </header>
  <main>
    <form class="form-createpassword w-full" [formGroup]="passwordForm">
      <div class="input-field error-active">
        <div class="relative">
          <input
            class="input-data w-full"
            [type]="show ? 'text' : 'password'"
            placeholder="Enter Password"
            formControlName="password"
            [ngClass]="{'border-red': password?.errors?.['minlength'] || password?.errors?.['pattern'] }"
          />
          <div class="icon-holder flex absolute right-0 items-center">
            <button type="button" class="opened-eye mr-4" (click)="this.show = true" *ngIf="!show">
              <app-openedeye></app-openedeye>
            </button>
            <button type="button" class="closed-eye mr-4" (click)="this.show = false" *ngIf="show">
              <app-closedeye></app-closedeye>
            </button>
          </div>
        </div>
        <div class="mt-3 mb-4">
          <div class="flex mb-2">
            <div class="m-1">
              <app-passwordwarning *ngIf="password?.errors?.['minlength']"></app-passwordwarning>
              <app-passwordcorrect
                *ngIf="!password?.errors?.['minlength']"
                [valid]="
                  password?.value.length === 0
                    ? '#D6E1E3'
                    : password?.value.length >= 8
                    ? '#64c299'
                    : '#f44336'
                "
              ></app-passwordcorrect>
            </div>
            <p class="condition not-italic font-normal text-xs mt-1">Minimum 8 characters</p>
          </div>
          <div class="flex">
            <div class="m-1">
              <app-passwordcorrect
                *ngIf="!password?.errors?.['pattern']"
                [valid]="
                password?.value.length === 0
                ? '#D6E1E3'
                : !password?.errors?.['pattern']
                ? '#64c299'
                : '#f44336'
            "
              ></app-passwordcorrect>
              <app-passwordwarning *ngIf="password?.errors?.['pattern']"></app-passwordwarning>
            </div>
            <p class="condition not-italic font-normal text-xs mt-1">Alphanumeric</p>
          </div>
        </div>
      </div>
    </form>
    <div class="flex flex-col">
      <button
        class="primary-button w-full"
        [disabled]="!passwordForm.valid"
        (click)="!isReset ? onSubmitSignUpFinal() : onSubmitReset()"
      >
        {{ !isReset ? 'Continue' : 'Set new Password' }}
      </button>
    </div>
  </main>
</div>
