.createpassword {
  .header {
    margin-bottom: 34px;
    .title {
      font-family: Baloo;
      font-size: 32px;
      letter-spacing: -2px;
      color: #154f5b;
    }
  }
  .form-createpassword {
    .input-field {
      .condition {
        font-family: Poppins;
        line-height: 18px;
        color: #41707a;
      }
    }
    .error-active {
      .border-red {
        border: 2px solid #ff725e !important;
      }
    }
    .icon-holder {
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .create {
    background: #00a4b7;
    font-family: Baloo;
  }
  .footer {
    font-family: Poppins;
    line-height: 18px;
    color: #73959d;
  }
}
