<ng-template #temp let-content="content">
  <div class="flex flex-col justify-center items-center w-full min-h-screen bg-veryLightGray">
    <div
      class="flex flex-col justify-center items-center rounded-3xl card m-6 shadow-lg p-8 overflow-hidden bg-white"
    >
      <img src="../assets/images/logo.png" alt="TinyWhale Logo" />
      <h1 class="text-primaryFont font-baloo font-normal text-2xl mt-8 mb-4">Hey 👋</h1>
      <p class="text-primaryFont text-center font-poppins font-normal text-base">
        {{ content }}
      </p>
    </div>
  </div>
</ng-template>

<div class="hidden md:block">
  <router-outlet *ngIf="isOnline; else isOffline"></router-outlet>
</div>
<ng-template #isOffline>
  <ng-container
    [ngTemplateOutlet]="temp"
    [ngTemplateOutletContext]="{
      content: 'Please check your internet connection'
    }"
  >
  </ng-container>
</ng-template>

<div class="md:hidden">
  <ng-container
    [ngTemplateOutlet]="temp"
    [ngTemplateOutletContext]="{ content: 'Open your TinyWhale dashboard on desktop' }"
  ></ng-container>
</div>
