<div class="w-full website-page bg-white p-8 flex flex-col items-center justify-center">
  <app-no-data-view-website></app-no-data-view-website>
  <h1 class="title not-italic font-normal text-2xl leading-6 mb-0 mt-12">
    Your website details will come here
  </h1>
  <p class="content font-normal not-italic text-base mt-3">
    Create a stunning and professional website in minutes
  </p>
  <div class="flex justify-evenly mt-8">
    <button class="secondary-button w-60 mr-3">See Website Template</button>
    <button
      class="primary-button w-48 ml-3"
      [routerLink]="['/home']"
      routerLinkActive="router-link-active"
    >
      Get Started
    </button>
  </div>
</div>
