.website-page-heading {
  .header {
    font-family: Baloo !important;
    color: #154f5b;
    letter-spacing: -2px;
  }
}
.line {
  border: 1px solid #e5e5e5;
}
.website-page {
  border-bottom-left-radius: 20px;

  .title {
    font-family: Baloo;
    color: #154f5b;
  }
  .content {
    font-family: Poppins;
    line-height: 26px;
    color: #154f5b;
  }
  .template-button {
    font-family: Baloo;
    line-height: 24px;
    text-align: center;
    color: #00a4b7;
    border: 2px solid #00a4b7;
  }
  .getstarted {
    font-family: Baloo;
    line-height: 24px;
    background: #00a4b7;
    text-align: center;
  }
}
