<div class="login">
  <header class="header">
    <h1 class="title not-italic font-normal leading-9 mb-4">Sign in</h1>
    <p class="content not-italic font-normal text-base">
      Don’t have an account? <span class="goto-signup">Sign up</span>
    </p>
  </header>
  <main>
    <form class="form-login w-full" action="">
      <div class="input-field error-active">
        <div class="relative">
          <input
            class="input-login focus:outline-none w-full bg-white not-italic font-normal text-base leading-6 py-3 pl-4 pr-3"
            type="email"
            placeholder="Enter Email"
          />
          <!-- <div class=" warning absolute"><app-formwarning></app-formwarning></div> -->
          <!-- <div class=" right absolute"><app-formright></app-formright></div> -->
        </div>
        <p class="error not-italic font-normal text-xs leading-3 mt-1">Domain not available</p>
      </div>
      <div class="input-field error-active">
        <div class="relative">
          <input
            class="input-login focus:outline-none w-full bg-white not-italic font-normal text-base leading-6 py-3 pl-4 pr-3"
            type="password"
            placeholder="Enter Password"
          />
          <!-- <div class=" warning absolute"><app-formwarning></app-formwarning></div> -->
          <!-- <div class=" right absolute"><app-formright></app-formright></div> -->
        </div>
        <p class="error not-italic font-normal text-xs leading-3 mt-1">
          Please enter a valid email address
        </p>
      </div>
    </form>
    <a class="goto-forgotpassword not-italic font-normal text-base" href=""> Forgot Password?</a>
    <div class="flex flex-col mt-4">
      <button
        class="continue text-white w-full  py-3 px-8 not-italic font-normal text-base leading-6 rounded-full"
      >
        Continue
      </button>
      <div class="or-class text-center my-4 text-base not-italic font-normal">or</div>
      <button
        class="continue-with-google text-white w-full py-3 px-8 not-italic font-normal text-baseleading-6 rounded-full"
      >
        Continue with Google
      </button>
    </div>
  </main>
  <footer class="footer absolute bottom-7 font-normal not-italic text-xs">
    By continuing, you agree to our <a href=""> <u>Terms & Conditions</u></a>
  </footer>
</div>
