<div class="flex w-full">
  <div class="w-1/2 flex text-white">
    <div class="swiper-demo relative w-full">
      <swiper
        [slidesPerView]="1"
        [spaceBetween]="0"
        [loop]="true"
        [preventClicks]="false"
        (swiper)="(true)"
        (slideChange)="(true)"
        #newSwiper
        [autoplay]="{ delay: 8000 }"
        [navigation]="false"
        [pagination]="{ clickable: true }"
      >
        <ng-template swiperSlide *ngFor="let val of slides">
          <div class="w-full h-full flex flex-col justify-between">
            <div #swiperImg class="relative swiper-image">
              <div class="w-full">
                <img
                  class="swiper-image w-full object-cover"
                  src="../../../assets/images/swiper.png"
                />
              </div>
              <div class="absolute top-12 left-12"><app-swiperlogo></app-swiperlogo></div>
            </div>
            <div class="swiper-content px-12">
              <p class="content italic font-normal mb-8 text-white">
                “An amazing testimonial about TinyCard™ from Jason An amazing testimonial about
                TinyCard™ from Jason”
              </p>
              <p class="name-content text-white text-normal font-normal">
                <b class="font-semibold">Jason Fried</b><br />
                Football Coach, Singapore
              </p>
              <button
                class="swiper-button not-italic mt-8 bg-white py-2 px-8 font-normal text-base rounded-full"
              >
                <span class="noborder-button px-0">See Jason’s TinyCard™</span>
              </button>
            </div>
          </div>
        </ng-template>
      </swiper>

      <div class="swiper-next absolute z-20" (click)="swipeNext()">
        <app-swipernext></app-swipernext>
      </div>
      <div class="swiper-previous absolute z-20" (click)="swipePrev()">
        <app-swipernext></app-swipernext>
      </div>
    </div>
  </div>
  <div class="auth-layout relative w-1/2">
    <router-outlet>
      <app-loader-page *ngIf="loading"></app-loader-page>
    </router-outlet>
    <footer class="footer absolute bottom-7 font-normal not-italic text-xs">
      <div class="w-full mt-5 text-xs">
        <span>
          By proceeding you agree to
          <a
            href="https://www.tinywhale.com/terms/terms-of-use/"
            target="_blank"
            class="noborder-button px-0 font-poppins"
            >platform terms of use</a
          >
          and
          <a
            href="https://www.tinywhale.com/terms/privacy/"
            target="_blank"
            class="noborder-button px-0 font-poppins"
            >privacy policy</a
          >
          .
        </span>
      </div>
      <!-- By continuing, you agree to our
      <a href="" class="hover:text-primaryFont"> <u>Terms & Conditions</u></a> -->
    </footer>
  </div>
</div>
