
<div class="forgotpassword">
    <header class="header">
        <h1 class="title not-italic font-normal leading-9 mb-10">Forgot Password</h1>
    </header>
    <main>
    <form class="form-forgotpassword w-full" action="" >
        <div class="input-field pb-9 relative error-active">
            <div class="relative">
            <input class="input-forgotpassword focus:outline-none w-full bg-white not-italic font-normal text-base leading-6 py-3 pl-4 pr-3" type="email" placeholder="Enter Email">
            <!-- <div class=" warning absolute"><app-formwarning></app-formwarning></div> -->
            <!-- <div class=" right absolute"><app-formright></app-formright></div> -->
           </div>
            <p class="error not-italic font-normal text-xs leading-3 mt-1 absolute bottom-3">Domain not available</p>
        </div>
    </form>
    <div class="flex flex-col">
    <button class="reset text-white w-full py-3 px-8 not-italic font-normal text-base leading-6 rounded-full">Rest my password</button>
    </div>
    </main>
    <footer class="footer absolute bottom-7  font-normal not-italic text-xs ">By continuing, you agree to our <a  href=""> <u>Terms & Conditions</u></a></footer>
    </div>
