<ng-container *ngIf="!isOtpVisible">
  <div class="forgotpassword">
    <header class="header">
      <h1 class="title not-italic font-normal leading-9 mb-10">Forgot Password</h1>
    </header>
    <main>
      <form class="form-forgotpassword w-full" [formGroup]="resetPasswordForm">
        <div class="input-field mb-9 error-active relative">
          <div class="relative">
            <input
              class="input-data w-full pr-14"
              type="email"
              placeholder="Enter Email"
              [ngClass]="{'border-red': email?.errors?.['pattern']}"
              formControlName="email"
            />
            <div class="icon-holder flex absolute right-0 items-center">
              <div class="warning mr-4" *ngIf="email?.errors?.['pattern']">
                <app-formwarning></app-formwarning>
              </div>
              <div
                class="right mr-4"
                *ngIf="(email?.dirty || email?.touched) && !email?.invalid && !email?.errors?.['pattern'] ? true : false"
              >
                <app-formright></app-formright>
              </div>
            </div>
          </div>
          <p
            *ngIf="(email?.touched) && email?.invalid && email?.errors?.['pattern']"
            class="error not-italic font-normal text-xs leading-3 mt-1"
          >
            Please enter a valid email
          </p>
        </div>
      </form>
      <div class="flex flex-col">
        <button
          class="primary-button w-full"
          [disabled]="!resetPasswordForm.valid"
          (click)="onResetPassword()"
        >
          Reset My Password
        </button>
      </div>
    </main>
  </div>
</ng-container>

<ng-container *ngIf="isOtpVisible">
  <div class="forgotpassword">
    <header class="header">
      <h1 class="title not-italic font-normal leading-9 mb-4">Enter OTP</h1>
      <p class="otp-content font-normal text-base not-italic">A 6 digit OTP has been sent to:</p>
      <p class="otp-email mt-2">
        <span class="email not-italic text-base leading-6 font-medium">{{ email?.value }}</span
        ><span class="noborder-button" (click)="backToReset()">Edit Email</span>
      </p>
    </header>
    <main>
      <form
        class="digit-group w-full"
        method="get"
        data-group-name="digits"
        data-autosubmit="false"
        autocomplete="off"
        [formGroup]="otpForm"
      >
        <div class="input-field otperror-active pb-9 relative flex justify-between">
          <ng-container *ngFor="let field of fields; let i = index">
            <!-- type="text" maxlength="1"
             oninput="this.value=this.value.replace(/[^0-9]/g,'');" -->

            <input
              class="focus:outline-none py-3 px-0"
              type="text"
              maxlength="1"
              oninput="this.value=this.value.replace(/[^0-9]/g,'')"
              [id]="'digit-' + i"
              [name]="'digit-' + i"
              data-next="digit-2"
              onKeyPress="if(this.value.length==1) return false;"
              MoveNextByMaxLengthDirective
              [ngClass]="{ 'border-red': isVerifiedOtp }"
              #formRow
              (keydown)="keysDown($event, i)"
              (keyup)="keyUpEvent($event, i, field)"
              (paste)="onPaste($event)"
              (input)="onInput(formRow.value)"
              [formControlName]="field"
            />
          </ng-container>
          <!-- <input
            class="focus:outline-none py-3 px-0"
            type="number"
            id="digit-2"
            name="digit-2"
            data-next="digit-3"
            onKeyPress="if(this.value.length==1) return false;"
            data-previous="digit-1"
            MoveNextByMaxLengthDirective
            formControlName="otp2"
          />
          <input
            class="focus:outline-none py-3 px-0"
            type="number"
            id="digit-3"
            name="digit-3"
            data-next="digit-4"
            onKeyPress="if(this.value.length==1) return false;"
            data-previous="digit-2"
            MoveNextByMaxLengthDirective
            formControlName="otp3"
          />
          <input
            class="focus:outline-none py-3 px-0"
            type="number"
            id="digit-4"
            name="digit-4"
            data-next="digit-5"
            onKeyPress="if(this.value.length==1) return false;"
            data-previous="digit-3"
            MoveNextByMaxLengthDirective
            formControlName="otp4"
          />
          <input
            class="focus:outline-none py-3 px-0"
            type="number"
            id="digit-5"
            name="digit-5"
            data-next="digit-6"
            onKeyPress="if(this.value.length==1) return false;"
            data-previous="digit-4"
            MoveNextByMaxLengthDirective
            formControlName="otp5"
          />
          <input
            class="focus:outline-none py-3 px-0"
            type="number"
            id="digit-6"
            name="digit-6"
            data-previous="digit-5"
            onKeyPress="if(this.value.length==1) return false;"
            MoveNextByMaxLengthDirective
            formControlName="otp6"
          /> -->
          <p
            class="color-red font-poppins absolute bottom-3 font-normal text-xs leading-3"
            *ngIf="isVerifiedOtp"
          >
            {{otpMessage}}, Please try again
          </p>
          <!-- <p class="otp-error not-italic absolute bottom-3 font-normal text-xs leading-3">
            Incorrect OTP , Please try again
          </p> -->
        </div>
      </form>
      <div class="flex flex-col">
        <button class="primary-button w-full" (click)="validateOtp()">Validate</button>
        <p class="send-email mt-5">
          <span class="again not-italic text-base leading-6 font-medium">Didn't receive OTP?</span
          ><span class="noborder-button" (click)="onResetPassword()">Get The OTP Again</span>
        </p>
      </div>
    </main>
  </div>
  <form></form>
</ng-container>
