<ng-container *ngIf="!isOtpVisible">
  <div class="forgotpassword">
    <header class="header">
      <h1 class="title not-italic font-normal leading-9 mb-10">Forgot Password</h1>
    </header>
    <main>
      <form class="form-forgotpassword w-full" [formGroup]="resetPasswordForm">
        <div class="input-field mb-9 error-active relative">
          <div class="relative">
            <input
              class="input-forgotpassword focus:outline-none w-full bg-white not-italic font-normal text-base leading-6 py-3 pl-4 pr-3"
              type="email"
              placeholder="Enter Email"
              [ngClass]="{'border-red': email?.errors?.['email']}"
              formControlName="email"
            />
            <div class="warning absolute" *ngIf="email?.errors?.['email']">
              <app-formwarning></app-formwarning>
            </div>
            <div
              class="right absolute"
              *ngIf="(email?.dirty || email?.touched) && !email?.invalid && !email?.errors?.['email'] ? true : false"
            >
              <app-formright></app-formright>
            </div>
          </div>
          <p
            *ngIf="(email?.touched) && email?.invalid && email?.errors?.['email']"
            class="error not-italic font-normal text-xs leading-3 mt-1"
          >
            Please enter a valid email
          </p>
        </div>
      </form>
      <div class="flex flex-col">
        <button
          class="reset text-white w-full py-3 px-8 not-italic font-normal text-base leading-6 rounded-full"
          [disabled]="!resetPasswordForm.valid"
          (click)="onResetPassword()"
        >
          Reset my password
        </button>
      </div>
    </main>
    <footer class="footer absolute bottom-7 font-normal not-italic text-xs">
      By continuing, you agree to our <a href=""> <u>Terms & Conditions</u></a>
    </footer>
  </div>
</ng-container>

<ng-container *ngIf="isOtpVisible">
  <div class="forgotpassword">
    <header class="header">
      <h1 class="title not-italic font-normal leading-9 mb-4">Enter OTP</h1>
      <p class="otp-content font-normal text-base not-italic">A 6 digit OTP has been sent to:</p>
      <p class="otp-email mt-2">
        <span class="email not-italic text-base leading-6 font-medium">{{ email?.value }}</span
        ><span
          class="edit font-normal cursor-pointer text-base not-italic ml-4"
          (click)="backToReset()"
          >Edit</span
        >
      </p>
    </header>
    <main>
      <form
        class="digit-group w-full"
        method="get"
        data-group-name="digits"
        data-autosubmit="false"
        autocomplete="off"
        [formGroup]="otpForm"
      >
        <div class="input-field otperror-active pb-9 relative flex justify-between">
          <input
            class="focus:outline-none py-3 px-0"
            type="number"
            id="digit-1"
            name="digit-1"
            data-next="digit-2"
            onKeyPress="if(this.value.length==1) return false;"
            MoveNextByMaxLengthDirective
            [ngClass]="{'border-red':isVerifiedOtp}"
            #formRow
            *ngFor="let field of fields;let i=index"
            (keyup)="keyUpEvent($event, i)"
            [formControlName]="field"
          />
          <!-- <input
            class="focus:outline-none py-3 px-0"
            type="number"
            id="digit-2"
            name="digit-2"
            data-next="digit-3"
            onKeyPress="if(this.value.length==1) return false;"
            data-previous="digit-1"
            MoveNextByMaxLengthDirective
            formControlName="otp2"
          />
          <input
            class="focus:outline-none py-3 px-0"
            type="number"
            id="digit-3"
            name="digit-3"
            data-next="digit-4"
            onKeyPress="if(this.value.length==1) return false;"
            data-previous="digit-2"
            MoveNextByMaxLengthDirective
            formControlName="otp3"
          />
          <input
            class="focus:outline-none py-3 px-0"
            type="number"
            id="digit-4"
            name="digit-4"
            data-next="digit-5"
            onKeyPress="if(this.value.length==1) return false;"
            data-previous="digit-3"
            MoveNextByMaxLengthDirective
            formControlName="otp4"
          />
          <input
            class="focus:outline-none py-3 px-0"
            type="number"
            id="digit-5"
            name="digit-5"
            data-next="digit-6"
            onKeyPress="if(this.value.length==1) return false;"
            data-previous="digit-4"
            MoveNextByMaxLengthDirective
            formControlName="otp5"
          />
          <input
            class="focus:outline-none py-3 px-0"
            type="number"
            id="digit-6"
            name="digit-6"
            data-previous="digit-5"
            onKeyPress="if(this.value.length==1) return false;"
            MoveNextByMaxLengthDirective
            formControlName="otp6"
          /> -->
          <p
            class="color-red not-italic absolute bottom-3 font-normal text-xs leading-3"
            *ngIf="isVerifiedOtp"
          >
            Incorrect OTP , Please try again
          </p>
          <!-- <p class="otp-error not-italic absolute bottom-3 font-normal text-xs leading-3">
            Incorrect OTP , Please try again
          </p> -->
        </div>
      </form>
      <div class="flex flex-col">
        <button
          class="reset text-white w-full py-3 px-8 not-italic font-normal text-base leading-6 rounded-full"
          (click)="validateOtp()"
        >
          Validate
        </button>
        <p class="send-email mt-5">
          <span class="again not-italic text-base leading-6 font-medium">Didn’t receive OTP?</span
          ><span
            class="otp-again font-normal cursor-pointer text-base not-italic ml-4"
            (click)="onResetPassword()"
            >Get the OTP again</span
          >
        </p>
      </div>
    </main>
    <footer class="footer absolute bottom-7 font-normal not-italic text-xs">
      By continuing, you agree to our <a href=""> <u>Terms & Conditions</u></a>
    </footer>
  </div>
  <form></form>
</ng-container>
