.forgotpassword {

    .header{
      margin-bottom: 34px;
      .title {
        font-family: Baloo;
        font-size: 32px;
        letter-spacing: -2px;
        color: #154f5b;
      }
    }
    .otp-content{
      font-family: Poppins;
      line-height: 26px;
      color: #154F5B;

    }
    .otp-email{
      .email{
        font-family: Poppins;
        color: #154F5B;
      }
      .edit{
        font-family: Baloo;
        line-height: 25px;
        color: #00A4B7;
      }
    }
    .form-forgotpassword{
      .input-field{
      .input-forgotpassword{
        border: 2px solid #D6E1E3;
        border-radius: 10px;
        font-family: Poppins;
         line-height: 24px;
         color: #154F5B;
      }
      .error{
        display: none;
      }

    }
    .error-active{
      .border-red{
        border: 2px solid #FF725E !important;
      }
      .error{
        display: block;
        font-family: Poppins;
        line-height: 18px;
        color: #FF725E;
      }
    }

    }
    .reset{
      background: #12B5C1;
      font-family: Baloo;

    }
    .icon-holder{
      top:50%;
      transform: translateY(-50%);
    }
    .footer{
  font-family: Poppins;
  line-height: 18px;
  color: #73959D;


    }
  }


  .forgotpassword {
    .send-email{
      .again{
        font-family: Poppins;
        color: #154F5B;
      }
      .otp-again{
        font-family: Baloo;
        line-height: 25px;
        color: #00A4B7;
      }
    }
    .digit-group {
      .input-field{
      input{
        border: 2px solid #D6E1E3;
        border-radius: 10px;
        font-family: Poppins;
         color: #154F5B;
         background: #FFFFFF;
          width:calc((100% - 40px) / 6);
          border-radius: 10px;
          text-align: center;

      }
      input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


      .otp-error{
        display:none !important;
      }

    }
    .otperror-active{
    //   input{
    //     border: 2px solid #FF725E !important;
    //   }
    //   .otp-error{
    //     display: block;
    //     font-family: Poppins;
    //     line-height: 18px;
    //     color: #FF725E;
    //   }
    .color-red{
      color: red;
    }
    .border-red{
        border: 2px solid #FF725E !important;

    }
    }

    }

    .footer{
  font-family: Poppins;
  line-height: 18px;
  color: #73959D;


    }
  }


