<div class="fixed z-50 left-0 top-0 fixed-header">
    <div class=" website-page-heading bg-white py-4 px-8 flex justify-between w-full">
        <header class="header leading-9 font-normal not-italic flex items-center"><span
                class="one -pb-4 font-normal not-italic text-7xl leading-6 mr-3"> 1 </span> <span class="text-4xl">Add a
                Service</span> </header>
        <div class="flex justify-between">
            <button class="cancel-button text-base not-italic font-normal leading-6 mr-2">Cancel</button>
            <button
                class="save-button-secondary active-save w-48 rounded-full text-white text-center text-base font-normal not-italic py-3 ml-2">Save
                & Add Another</button>
            <button
                class="save-button active-save w-48 rounded-full text-white text-center text-base font-normal not-italic py-3 ml-2">Save</button>
        </div>
    </div>
</div>
<div class="fixed-header-mask fixed z-40 left-0 top-0"></div>

<div class="add-info flex w-full">
    <div class="input-section w-7/12 bg-white py-8 px-12 flex flex-col">
        <h5 class="input-section-subheading font-bold mb-4">About the service</h5>
        <div class="input-field flex mb-4">
            <div class=" w-44 label text-right mt-4 mr-6"><label for="">Title*</label></div>
            <div class="w-form"><input class="input w-full py-3 px-4 focus:outline-none" placeholder="Company name" />
            </div>
        </div>
        <div class="input-field flex mb-4">
            <div class=" w-44 label text-right mt-4 mr-6"><label for="">Description*</label></div>
            <div class="w-form"><textarea rows="3" class="input w-full py-3 px-4 focus:outline-none"
                    placeholder="Describe your service in detail"></textarea></div>
        </div>
        <div class="input-field flex mb-4">
            <div class=" w-44 label text-right mt-4 mr-6"><label for="">Photos* </label></div>
            <div class="flex w-form">
                <div><input class="input-photo text-center mr-2" placeholder="Add Photo" /></div>
                <div><input class="input-photo text-center mr-2" placeholder="Add Photo" /></div>
                <div><input class="input-photo text-center mr-2" placeholder="Add Photo" /></div>
            </div>
        </div>
        <h5 class="input-section-subheading font-bold mb-4 mt-8">Location</h5>
        <div class="input-field flex mb-4">
            <div class=" w-44 label text-right mt-4 mr-6"><label for="">Location*</label></div>
            <div class="w-form"><select class="input py-3 px-4 w-full" type="select"
                    placeholder="Select location / venue of class">
                    <option value="">option1</option>
                    <option value="">option2</option>
                </select>
            </div>
        </div>
        <div class="input-field flex mb-4">
            <div class=" w-44 label text-right mt-4 mr-6"><label for="">Capacity*</label></div>
            <div class="w-form"><input class="input w-full py-3 px-4 focus:outline-none" type="number"
                    placeholder="Enter number of students per session" /></div>
        </div>
        <h5 class="input-section-subheading font-bold mb-4 mt-8">Schedule</h5>
        <div class="input-field flex mb-4">
            <div class=" w-44 label text-right mt-4 mr-6"><label for="">What kind of schedule does this service
                    have?*</label></div>
            <div class="w-form">
                <div class="flex flex-col w-full py-3 rounded-lg radio-container">
                    <div class="flex pb-3 px-3 radio-container-border-b">
                        <input type="radio" id="fixed" name="schedule" value="fixed" class="cursor-pointer">
                          <label for="fixed" class="w-full cursor-pointer">
                            <div class="flex flex-col ml-2 -mt-1">
                                <p class="radio-container-name">Fixed</p>
                                <p class="radio-container-descri">Predefined time slots in the week</p>
                            </div>
                        </label>
                    </div>
                    <div class="flex pt-3 px-3">
                        <input type="radio" id="flexible" name="schedule" value="flexible" class="cursor-pointer">
                          <label for="flexible" class="w-full cursor-pointer">
                            <div class="flex flex-col ml-2 -mt-1">
                                <p class="radio-container-name">Flexible</p>
                                <p class="radio-container-descri">As per client’s requirement</p>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="input-field flex mb-4">
            <div class=" w-44 label text-right mt-4 mr-6"><label for="">Session Duration*</label></div>
            <div class="w-form flex items-center"><input class="input w-24 py-3 px-4 focus:outline-none"
                    placeholder="$ 50" />
                <span class="input-field-secondary-text mx-3">min</span>
            </div>
        </div>
        <div class="input-field flex mb-4">
            <div class=" w-44 label text-right mt-0 mr-6"><label for="">Slot Days & Times*</label></div>
            <div class="w-form checkbox-input mt-2">
                <div class="w-full mb-4">
                    <label class="check-container">Sunday
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <div class="w-full flex items-center mb-4"><input class="input w-32 py-3 px-4 focus:outline-none"
                            placeholder="Start time" />
                        <span class="input-field-secondary-text mx-3">to</span>
                        <input class="input w-32 py-3 px-4 focus:outline-none" placeholder="End time" />
                        <div class="h-full flex items-center mx-3">
                            <img src="../../../../../assets/images/icons/delete.svg" alt="">
                        </div>
                    </div>
                    <div class="add-another mt-2 font-normal text-base not-italic">+ Add Another Slot</div>
                </div>
                <label class="check-container">Monday
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="check-container">Tuesday
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="check-container">Wednesday
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="check-container">Thursday
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="check-container">Friday
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="check-container">Saturday
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
        <h5 class="input-section-subheading font-bold mb-4 mt-8">Pricing</h5>
        <div class="input-field flex mb-4">
            <div class=" w-44 label text-right mt-4 mr-6"><label for="">Session Price</label></div>
            <div class="w-form flex items-center"><input class="input w-24 py-3 px-4 focus:outline-none"
                    placeholder="$ 50" />
                <span class="input-field-secondary-text mx-3">per session per person</span>
            </div>
        </div>
        <div class="input-field flex mb-4">
            <div class=" w-44 label text-right mt-4 mr-6"><label for="">Package Price
                    (Session Bundle)</label></div>
            <div class="w-form">
                <div class="w-full flex items-center mb-2"><input class="input w-24 py-3 px-4 focus:outline-none"
                        placeholder="$ 100" />
                    <span class="input-field-secondary-text mx-3">for</span>
                    <input class="input w-20 py-3 px-4 focus:outline-none" placeholder="2" />
                    <span class="input-field-secondary-text mx-3">sessions</span>
                    <div class="h-full flex items-center">
                        <img src="../../../../../assets/images/icons/delete.svg" alt="">
                    </div>
                </div>
                <div class="w-full flex items-center mb-2"><input class="input w-24 py-3 px-4 focus:outline-none"
                        placeholder="$ 100" />
                    <span class="input-field-secondary-text mx-3">for</span>
                    <input class="input w-20 py-3 px-4 focus:outline-none" placeholder="2" />
                    <span class="input-field-secondary-text mx-3">sessions</span>
                    <div class="h-full flex items-center">
                        <img src="../../../../../assets/images/icons/delete.svg" alt="">
                    </div>
                </div>
                <div class="add-another mt-2 font-normal text-base not-italic">+ Add Another Package Price</div>

            </div>
        </div>
        <h5 class="input-section-subheading font-bold mb-4 mt-8">Who can see this service?</h5>
        <div class="input-field flex mb-4">
            <div class=" w-44 label text-right mt-4 mr-6"><label for="">Visibility*</label></div>
            <div class="w-form">
                <div class="flex flex-col w-full py-3 rounded-lg radio-container">
                    <div class="flex pb-3 px-3 radio-container-border-b">
                        <input type="radio" id="public" name="visibility" value="public" class="cursor-pointer">
                          <label for="public      " class="w-full cursor-pointer">
                            <div class="flex flex-col ml-2 -mt-1">
                                <p class="radio-container-name">Public</p>
                                <p class="radio-container-descri">Anyone visiting my website</p>
                            </div>
                        </label>
                    </div>
                    <div class="flex pt-3 px-3">
                        <input type="radio" id="private" name="visibility" value="private" class="cursor-pointer">
                          <label for="private" class="w-full cursor-pointer">
                            <div class="flex flex-col ml-2 -mt-1">
                                <p class="radio-container-name">Private</p>
                                <p class="radio-container-descri">Clients who I share the link with</p>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="detail-section w-5/12">
        <div class="px-8 py-8 relative">
            <div class="heading">💡 Preview</div>
            <!-- use below code when no image uploaded -->
            <div class="flex justify-center items-center w-full h-56 rounded-3xl bg-gray-200 mt-4">
                <img src="./../../../../../assets/images/defualt-image.svg" alt="">
            </div>
            <!-- use below code when image uploaded 
            <div class="flex justify-center items-center w-full h-64 rounded-3xl bg-gray-200 mt-4">
                <img src="./../../../../../assets/images/defualt-image.svg" alt="" class="w-full h-full object-cover">
            </div> -->
            <h5 class="detail-section-subheading font-bold my-3">Piano under 3 years</h5>
            <p class="text mb-3">Learn Piano in WEEKS not years. Play-By-Ear & learn to Read Music. Pop, Blues, Jazz,
                Ballads, Improvisation, Classical</p>
            <p class="text mb-3">$ 80 for 1 session (1 hour)</p>
            <p class="text mb-3">$ 200 for 3 session (1 hour each)</p>
            <p class="text mb-3">$ 380 for 6 session (1 hour each)</p>
            <button type="button"
                class="book-button flex justify-center items-center h-12 w-full duration-700 rounded-full">
                Book Now
            </button>
        </div>

    </div>

</div>