<ng-container *ngIf="!dashboardInfos?.domainActive; else card">
  <div class="dashboard-new">
    <div class="header flex items-center justify-between mx-2 font-baloo">
      <div class="flex items-center">
        <h3 class="text-fourtyPx text-primaryFont leading-9 not-italic">Hey 👋</h3>
      </div>
      <div class="flex items-center">
        <span class="relative">
          <button class="primary-button w-52" (click)="copyViewBox()">Share Your TinyCard™</button>
          <ng-container *ngIf="copyView">
            <ng-container *ngTemplateOutlet="share; context: { ShareLink: 'data' }"></ng-container>
          </ng-container>
        </span>
      </div>
    </div>
    <div class="bg-white shadow-lg p-5 pb-0 mt-5 rounded-2xl font-poppins">
      <div class="flex items-center border-b border-gray-300 border-solid pb-3">
        <h3 class="font-bold text-primaryFont mr-4">Overview</h3>
        <button
          [ngClass]="
            overviewType === 'MTD'
              ? 'noborder-button px-0 font-bold'
              : 'text-primaryFont font-medium '
          "
          class="mr-4 text-xs"
          (click)="onClickMtd('MTD')"
        >
          MTD
        </button>
        <button
          [ngClass]="
            overviewType === 'QTD'
              ? 'noborder-button px-0 font-bold'
              : 'text-primaryFont font-medium'
          "
          class="mr-4 text-xs"
          (click)="onClickQtd('QTD')"
        >
          QTD
        </button>
        <button
          [ngClass]="
            overviewType === 'YTD'
              ? 'noborder-button px-0 font-bold'
              : 'text-primaryFont font-medium'
          "
          class="mr-4 text-xs"
          (click)="onClickYtd('YTD')"
        >
          YTD
        </button>
      </div>
      <div class="flex flex-col md:flex-row py-8">
        <div
          class="flex flex-col w-full md:w-8/12 border-b md:border-b-0 md:border-r border-gray-300 border-solid h-72"
        >
          <div class="flex items-center pb-4">
            <h4 class="text-primaryFont mr-3.5 font-medium">Gross Earnings</h4>
            <div class="tooltip-right">
              <span class="dashboard-new-i-blue cursor-help">ⓘ</span>
              <span class="tooltiptext">Revenue from on platform bookings</span>
            </div>
          </div>
          <div class="flex items-center">
            <h3 class="text-primaryFont font-bold font-baloo text-tworem">
              {{ customerCurrency?.symbol ?? '$' }}
              {{ dashboardInfos?.gross_earnings?.current_month || '0' }}
            </h3>

            <!-- used hidden to occupy space of element when not showing -->
            <div class="flex items-center ml-6">
              <img src="../../../../../assets/images/icons/arrow-green.svg" alt="" />
              <!-- <img src="../../../../../assets/images/icons/arrow-red.svg" alt=""> -->
              <span class="green-text ml-3"
                >{{ customerCurrency?.symbol ?? '$' }} {{ currentMonthGross || '0' }}</span
              >
              <!-- <span class="red-text ml-3">{{customerCurrency?.symbol ?? '$'}} 80</span> -->
              <span class="ml-2 text-primaryFont">from last month</span>
            </div>
          </div>
          <div class="w-full h-96 flex flex-col items-center justify-center pr-5 graph-container">
            <ng-container *ngIf="chart1">
              <img src="../../../../../assets/images/nograph.svg" alt="" />
              <p class="dashboard-new-placeholder mt-3">No data available</p>
            </ng-container>
            <ng-container *ngIf="!chart1">
              <!-- <ngx-charts-line-chart
                [scheme]="colorScheme"
                [showXAxisLabel]="showXAxisLabel"
                [autoScale]="true"
                [showYAxisLabel]="showYAxisLabel"
                [xAxis]="xAxis"
                [yAxis]="yAxis"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                [timeline]="timeline"
                [results]="chart1"
                [gradient]="true"
                [showGridLines]="showGridLines"
                (select)="onSelect($event)"
                (activate)="onActivate($event)"
                (deactivate)="onDeactivate($event)"
              >
              </ngx-charts-line-chart> -->
              <apx-chart
                [series]="chartOptions.series"
                [chart]="chartOptions.chart"
                [xaxis]="chartOptions.xaxis"
                [stroke]="chartOptions.stroke"
                [dataLabels]="chartOptions.dataLabels"
                [yaxis]="chartOptions.yaxis"
                [labels]="chartOptions.labels"
                [legend]="chartOptions.legend"
                [title]="chartOptions.title"
                [subtitle]="chartOptions.subtitle"
                [grid]="chartOptions.grid"
                [fill]="chartOptions.fill"
                class="w-full h-full"
              ></apx-chart>
            </ng-container>
          </div>
        </div>
        <div
          class="w-full md:w-4/12 h-72 flex flex-col px-8"
          *ngFor="let dashboard of [dashboardInfos]"
        >
          <div
            class="h-36 w-full flex flex-col justify-start border-b border-gray-300 border-solid dashboard-new-hovervalue cursor-pointer"
            [routerLink]="['/booking/view-booking']"
          >
            <div class="flex items-center pb-4">
              <h4 class="text-primaryFont mr-3.5 font-medium">Booked Sessions</h4>
              <div class="tooltip-top">
                <span class="dashboard-new-i-blue cursor-help">ⓘ</span>
                <span class="tooltiptext"
                  >Total sessions registered from individual and package bookings</span
                >
              </div>
            </div>
            <div class="flex items-center dashboard-new-hovervalue cursor-pointer">
              <h3
                class="text-primaryFont font-bold font-baloo text-tworem mr-2.5 value-hover duration-500"
              >
                {{ dashboard?.bookings?.current_month || '0' }}
              </h3>
              <img
                src="../../../../../assets/images/icons/right-blue.svg"
                alt=""
                class="-mt-1 hidden right-arrow duration-500"
              />
            </div>
            <!-- used hidden to occupy space of element when not showing -->
            <div class="flex items-center">
              <img src="../../../../../assets/images/icons/arrow-green.svg" alt="" />
              <!-- <img src="../../../../../assets/images/icons/arrow-red.svg" alt=""> -->
              <span class="green-text ml-3">{{ bookingGross || '0' }}</span>
              <!-- <span class="red-text ml-3">{{customerCurrency?.symbol ?? '$'}} 80</span> -->
              <span class="ml-2 text-primaryFont">from last month</span>
            </div>
          </div>
          <div class="h-36 w-full flex flex-col justify-end">
            <div class="flex items-center pb-4">
              <h4 class="text-primaryFont mr-3.5 font-medium">Processing Fee</h4>
              <div class="tooltip-top">
                <span class="dashboard-new-i-blue cursor-help">ⓘ</span>
                <span class="tooltiptext">Payment processing fees upon actuals</span>
              </div>
            </div>
            <h3 class="text-primaryFont font-bold font-baloo text-tworem">
              {{ processingFee || '0' }} %
            </h3>
            <!-- used hidden to occupy space of element when not showing -->
            <div class="flex items-center">
              <img src="../../../../../assets/images/icons/arrow-green.svg" alt="" />
              <!-- <img src="../../../../../assets/images/icons/arrow-red.svg" alt=""> -->
              <span class="green-text ml-3">{{ percentage || '0' }}%</span>
              <!-- <span class="red-text ml-3">{{customerCurrency?.symbol ?? '$'}} 80</span> -->
              <span class="ml-2 text-primaryFont">from last month</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="w-full grid sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-4 font-poppins"
      *ngFor="let dashboard of [dashboardInfos]"
    >
      <div
        class="bg-white h-36 shadow-lg p-5 rounded-2xl flex flex-col justify-center value-hover dashboard-new-hovervalue cursor-pointer"
        [routerLink]="['/service/home']"
      >
        <div class="flex items-center pb-4">
          <h4 class="text-primaryFont mr-3.5 font-medium">Active Services</h4>
        </div>
        <div class="flex items-center">
          <h3
            class="text-primaryFont font-bold font-baloo text-tworem mr-2.5 value-hover duration-500"
          >
            {{ dashboard?.active_services || '0' }}
          </h3>
          <img
            src="../../../../../assets/images/icons/right-blue.svg"
            alt=""
            class="-mt-1 hidden right-arrow duration-500"
          />
        </div>
      </div>
      <div class="bg-white h-36 shadow-lg p-5 rounded-2xl flex flex-col justify-center">
        <div class="flex items-center pb-4">
          <h4 class="text-primaryFont mr-3.5 font-medium">Total Customers</h4>
        </div>
        <h3 class="text-primaryFont font-bold font-baloo text-tworem">
          {{ dashboard?.total_customers || '0' }}
        </h3>
      </div>
      <div
        class="bg-white h-36 shadow-lg p-5 rounded-2xl flex flex-col justify-center dashboard-new-hovervalue cursor-pointer duration-500"
        [routerLink]="['/account/view-payment']"
      >
        <div class="flex items-center pb-4">
          <h4 class="text-primaryFont mr-3.5 font-medium">Pending Payments</h4>
        </div>
        <div class="flex items-center">
          <h3
            class="text-primaryFont font-bold font-baloo text-tworem mr-2.5 value-hover duration-500"
          >
            {{ dashboard?.pending_payments || '0' }}
          </h3>
          <img
            src="../../../../../assets/images/icons/right-blue.svg"
            alt=""
            class="-mt-1 hidden right-arrow duration-500"
          />
        </div>
      </div>
      <div class="bg-white h-36 shadow-lg p-5 rounded-2xl flex flex-col justify-center">
        <div class="flex items-center pb-4">
          <h4 class="text-primaryFont mr-3.5 font-medium">Upcoming Payout</h4>
        </div>
        <h3 class="text-primaryFont font-bold font-baloo text-tworem">
          {{ dashboard?.upcoming_payout || '0' }}
        </h3>
      </div>
    </div>
    <div class="w-full grid sm:grid-cols-1 md:grid-cols-2 gap-4 mt-4">
      <div class="bg-white h-full shadow-lg pt-6 pb-4 px-8 rounded-2xl">
        <h4 class="text-primaryFont font-bold">Upcoming Sessions</h4>
        <ng-container *ngIf="upcomingSessions">
          <div class="w-full mt-3" *ngFor="let upcoming of upcomingSessions">
            <div class="py-5 flex border-b border-gray-300 border-solid">
              <div class="w-4/12 h-full">
                <p class="text-primaryFont">
                  {{
                  isToday(upcoming?.order_session?.[0]?.session?.date)
                    ? 'Today'
                    : isTomorrow(upcoming?.order_session?.[0]?.session?.date)
                    ? 'Tomorrow'
                    : getDayName(upcoming?.order_session?.[0]?.session?.date) +
                      ',' +
                      formatdate(upcoming?.order_session?.[0]?.session?.date)
                  }}
                </p>
              </div>
              <div class="w-8/12 h-full">
                <p class="text-primaryFont">
                  {{ convert24HrsFormatToAmPm(upcoming?.order_session?.[0]?.session.class_time_range?.start_time) }}
                  -
                  {{ convert24HrsFormatToAmPm(upcoming?.order_session?.[0]?.session.class_time_range?.end_time) }}
                </p>
                <p class="text-primaryFont">{{ upcoming?.order_line_item?.[0]?.product?.title }}</p>
              </div>
            </div>
          </div>

          <div
            class="w-full flex justify-center items-center mt-4"
            *ngIf="upcomingSessions?.length >= 5"
          >
            <button class="noborder-button" (click)="navagateToBooking()">View All</button>
          </div>
        </ng-container>
        <div
          class="w-full h-full flex justify-center items-center"
          *ngIf="!upcomingSessions?.length"
        >
          <div class="w-8/12 h-full flex flex-col items-center justify-center">
            <img src="../../../../../assets/images/noupcoming.svg" alt="" class="h-56" />
            <p class="text-primaryFont mt-3 text-center mb-6">
              You don’t have any upcoming sessions yet. Share your services and get bookings.
            </p>
            <button class="secondary-button w-48" (click)="navagateToService()">
              <span>Go to Services</span>
            </button>
          </div>
        </div>
      </div>
      <div class="grid grid-rows-2 grid-flow-col gap-4">
        <div class="bg-white h-68 w-full shadow-lg p-8 rounded-2xl">
          <div class="flex items-center pb-4">
            <h4 class="text-primaryFont mr-3.5 font-medium">Customer Lifetime Value</h4>
            <div class="tooltip-top">
              <span class="dashboard-new-i-blue cursor-help">ⓘ</span>
              <span class="tooltiptext">Lifetime earnings / number of unique paying customers</span>
            </div>
          </div>
          <div class="w-full h-full flex flex-col items-center justify-center">
            <ng-container *ngIf="chart2">
              <img src="../../../../../assets/images/nograph.svg" alt="" class="h-32" />
              <p class="dashboard-new-placeholder mt-3">No data available</p>
            </ng-container>
            <ng-container *ngIf="!chart2">
              <!-- <ngx-charts-line-chart
                [scheme]="colorSchemeCurve"
                [showXAxisLabel]="showXAxisLabel"
                [autoScale]="true"
                [showYAxisLabel]="false"
                [xAxis]="false"
                [yAxis]="false"
                [timeline]="false"
                [results]="chart2"
                [gradient]="gradient"
                [showGridLines]="false"
                (select)="onSelect($event)"
                (activate)="onActivate($event)"
                (deactivate)="onDeactivate($event)"
              >
              </ngx-charts-line-chart> -->
              <apx-chart
                [series]="chartOptions2.series"
                [chart]="chartOptions2.chart"
                [xaxis]="chartOptions2.xaxis"
                [stroke]="chartOptions2.stroke"
                [dataLabels]="chartOptions2.dataLabels"
                [yaxis]="chartOptions2.yaxis"
                [labels]="chartOptions2.labels"
                [legend]="chartOptions2.legend"
                [title]="chartOptions2.title"
                [subtitle]="chartOptions2.subtitle"
                [grid]="chartOptions2.grid"
                [fill]="chartOptions2.fill"
                class="w-full h-full"
              ></apx-chart>
            </ng-container>
          </div>
        </div>
        <div class="bg-white h-68 w-full shadow-lg p-8 rounded-2xl">
          <div class="flex items-center pb-4">
            <h4 class="text-primaryFont mr-3.5 font-medium">Services Utilization Rate</h4>
            <div class="tooltip-top">
              <span class="dashboard-new-i-blue cursor-help">ⓘ</span>
              <span class="tooltiptext">Booked session/(slots*capacity per slot)</span>
            </div>
          </div>
          <div class="w-full h-48 flex flex-col items-center justify-center">
            <ng-container *ngIf="chart3">
              <img src="../../../../../assets/images/nograph.svg" alt="" class="h-32" />
              <p class="dashboard-new-placeholder mt-3">No data available</p>
            </ng-container>
            <ng-container *ngIf="!chart3">
              <!-- <ngx-charts-bar-vertical
                [scheme]="colorSchemeBar"
                [results]="chart3"
                [gradient]="gradient"
                [xAxis]="false"
                [yAxis]="false"
                [legend]="false"
                [showXAxisLabel]="false"
                [barPadding]="barPadding"
                [showYAxisLabel]="false"
                (select)="onSelect($event)"
              >
              </ngx-charts-bar-vertical> -->
              <apx-chart
                [series]="chartOptions3.series"
                [chart]="chartOptions3.chart"
                [yaxis]="chartOptions3.yaxis"
                [xaxis]="chartOptions3.xaxis"
                [dataLabels]="chartOptions3.dataLabels"
                [labels]="chartOptions3.labels"
                [stroke]="chartOptions3.stroke"
                [plotOptions]="chartOptions3.plotOptions"
                [markers]="chartOptions3.markers"
                [fill]="chartOptions3.fill"
                [grid]="chartOptions3.grid"
                [tooltip]="chartOptions3.tooltip"
                [legend]="chartOptions3.legend"
                class="w-full h-full"
              ></apx-chart>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #card>
  <app-card-getstarted></app-card-getstarted>
</ng-template>

<!-- share link div ends here -->

<ng-template #share let-copyLink="ShareLink" (click)="$event.stopPropagation()">
  <div
    class="absolute border border-grey-100 rounded-[20px] top-16 z-10 text-white font-medium bg-[#6B9EB6] p-6 right-0 md:w-96 w-80 cursor-auto font-poppins"
  >
    <p class="flex items-center justify-between text-white text-base">
      <span class="">Share service link with clients</span>
      <span
        class="text-white opacity-100 hover:opacity-80 text-3xl leading-none p-0 font-light cursor-pointer transform transition duration-700"
        (click)="copyView = false"
        >&times;</span
      >
    </p>

    <div class="relative overflow-hidden mt-3 bg-white rounded-lg flex">
      <input
        type="text"
        [value]="copyURL"
        class="absolute top-0 left-0 opacity-0 truncate text-primaryFont h-0 overflow-hidden rounded-lg z-0 focus:shadow focus:outline-none"
        #userinput
      />
      <div
        class="select-none leading-[48px] text-base truncate text-primaryFont h-12 w-full pl-4 z-0 focus:shadow focus:outline-none"
      >
        {{ copyURL }}
      </div>
      <button
        type="submit"
        class="copy-text justify-center pl-2 pr-4"
        (click)="copyInputMessage(userinput)"
      >
        <span class="copy-text bg-clip-text font-semibold">{{ copyStatus }}</span>
      </button>
    </div>
  </div>
</ng-template>
<!-- share link div ends here -->
