<div class="table-container w-full rounded-t-lg overflow-hidden">
  <div class="flex flex-wrap items-center mb-4">
    <div class="relative mb-2 mr-2">
      <!-- <div class="flex items-center justify-between py-2 px-3 bg-white rounded border border-gray-300 border-solid rounded-lg filter-card"> -->
        <!-- <span>Service</span>
        <div class="flex items-center justify-center">
          <img src="../../../../../assets/images/icons/down.svg" alt="">
        </div> -->
        <app-dropdown  placeholder="Service" [displayKey]="'title'" [emitId]="true" ></app-dropdown>

      <!-- </div> -->
      <!-- <div class="absolute top-full left-0 w-full z-50">
        <div class="bg-white w-fit min-w-full flex flex-col border border-gray-200 border-solid shadow rounded">
          <button class="px-4 filter-item text-left hover:bg-gray-100">
            <div class="w-full border-b border-gray-300 border-solid py-2 whitespace-nowrap">Piano for kids under 3
              years</div>
          </button>
          <button class="px-4 filter-item text-left hover:bg-gray-100">
            <div class="w-full border-b border-gray-300 border-solid py-2 whitespace-nowrap">Piano for adults</div>
          </button><button class="px-4 filter-item text-left hover:bg-gray-100">
            <div class="w-full border-b border-gray-300 border-solid py-2 whitespace-nowrap">Piano for all</div>
          </button><button class="px-4 filter-item text-left hover:bg-gray-100">
            <div class="w-full border-b border-gray-300 border-solid py-2 whitespace-nowrap">Piano for St.Matthew’s
              school - Class V</div>
          </button><button class="px-4 filter-item text-left hover:bg-gray-100">
            <div class="w-full border-b border-gray-300 border-solid py-2 whitespace-nowrap">Piano for kids under 4
              years</div>
          </button>
        </div>
      </div> -->
    </div>
    <div class="relative mb-2 mr-2">
      <!-- <div
        class="flex items-center justify-between py-2 px-3 bg-white rounded border border-gray-300 border-solid rounded-lg filter-card">
        <span>Status</span>
        <div class="flex items-center justify-center">
          <img src="../../../../../assets/images/icons/down.svg" alt="">
        </div>
      </div> -->
      <app-dropdown  placeholder="Status" [displayKey]="'title'" [emitId]="true" ></app-dropdown>
    </div>
    <div class="relative mb-2 mr-2">
      <!-- <div
        class="flex items-center justify-between py-2 px-3 bg-white rounded border border-gray-300 border-solid rounded-lg filter-card">
        <span>Payment</span>
        <div class="flex items-center justify-center">
          <img src="../../../../../assets/images/icons/down.svg" alt="">
        </div>
      </div> -->
      <app-dropdown  placeholder="Payment" [displayKey]="'title'" [emitId]="true" ></app-dropdown>

    </div>
    <div class="flex items-center mb-2 ml-5">
      <button class="text-secondaryBlue font-bold flex items-center">Clear Filters</button>
    </div>
  </div>
  <table class="table-auto w-full" >
    <thead>
      <tr class="bg-gray-100">
        <th class="px-2 py-3 text-left font-semibold">
          <div class="flex items-center text-secondaryBlue">
            <span>
              Session Date
            </span>
            <div class="ml-2">
              <img src="../../../../../assets/images/icons/sort.svg" alt="" srcset="" class="transform rotate-180">
            </div>
          </div>
        </th>
        <th class="px-2 py-3 text-left font-semibold">Status</th>
        <th class="px-2 py-3 text-left font-semibold">Customer</th>
        <th class="px-2 py-3 text-left font-semibold">Service</th>
        <th class="px-2 py-3 text-left font-semibold">Payment</th>
        <th class="px-2 py-3 text-left font-semibold"></th>
      </tr>
    </thead>
    <tbody >
      <tr>
        <td class="italic text-xs pt-5 pb-1 px-2" colspan="7">Sample Service Listing</td>
      </tr>
      <tr class="table-container-borderRow" *ngFor="let bookData of bookingData;let i=index" (click)="showSubItem(i)">
        <td class="align-top px-2 py-3">
          <div class="flex flex-col">
            <span class="italic whitespace-nowrap">{{bookData?.date_time | date}}</span>
            <span class="italic whitespace-nowrap">(1/2)</span>
          </div>
        </td>
        <td class="align-top px-2 py-3">
          <div *ngIf="bookData?.status === 'COMPLETED'" class="flex items-center w-fit px-3 rounded-full bg-green-100 text-green-500 py-1 text-sm">
            <span>{{bookData?.status}}</span>
          </div>
          <div *ngIf="bookData?.status ==='PENDING_PAYMENT' || bookData?.status ==='OPEN'" class="flex items-center w-fit px-3 rounded-full bg-blue-100 text-blue-500 py-1 text-sm">
            <span>{{bookData?.status}}</span>
          </div>
        </td>
        <td class="align-top px-2 py-3">
          <div class="flex items-center">
            <span class="italic">Mary Jane</span>
          </div>
        </td>
        <td class="align-top px-2 py-3">
          <div class="flex items-center">
            <span class="italic">Piano for kids under 3
              years</span>
          </div>
        </td>
        <td class="align-top px-2 py-3">
          <div class="flex flex-col">
            <ng-container *ngFor="let price of orderLineItem">
            <div class="italic flex items-center">
              <span class="mr-2">{{price?.currency}} {{price?.price}}</span>
              <img src="../../../../../assets/images/icons/check.svg" alt="" *ngIf="bookData?.status === 'COMPLETED'">
              <img src="../../../../../assets/images/icons/pending.svg" alt="" *ngIf="bookData?.status ==='PENDING_PAYMENT' || bookData?.status ==='OPEN'">
            </div>
          </ng-container>
            <span class="italic whitespace-nowrap">(2 sessions)</span>
          </div>
        </td>
        <td class="align-top px-2 py-3">
          <div class="relative flex justify-end">
            <button
              class="table-container-button w-12 h-12 flex items-center justify-center font-semibold rounded-full duration-700" >
              <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7.583 13.27a2.167 2.167 0 1 1-4.333 0 2.167 2.167 0 0 1 4.333 0zM15.167 13.27a2.166 2.166 0 1 1-4.333 0 2.166 2.166 0 0 1 4.333 0zM20.583 15.437a2.166 2.166 0 1 0 0-4.332 2.166 2.166 0 0 0 0 4.332z"
                  class="table-container-button-svgFill" />
              </svg>
            </button>
            <!-- open more -->
            <div class="absolute top-full right-0 z-50 -mt-5">
              <div class="bg-white w-fit min-w-full flex flex-col border border-gray-200 border-solid shadow rounded">
                <button class="px-4 filter-item text-left hover:bg-gray-100" *ngIf="visibleIndex === i"  (click)="navigateToEdit(bookData?.order_id)">
                  <div class="w-full border-b border-gray-300 border-solid py-2 whitespace-nowrap">Reschedule</div>
                </button>
              </div>
            </div>
          </div>
        </td>
      </tr>
       <tr>
        <td colspan="7">
          <div class="w-full h-12 flex justify-center items-center" *ngIf="true;">
            <button class="text-secondaryBlue font-bold flex items-center">Load More</button>
          </div>
        </td>
      </tr>
       <tr>
        <td colspan="7">
          <div class="w-full" >
            <app-no-data-booking-component class="flex flex-1"></app-no-data-booking-component>
          </div>
          <ng-template #noResult>
            <app-no-result-booking-component class="flex flex-1"></app-no-result-booking-component>
          </ng-template>
        </td>
      </tr>

    </tbody>
  </table>
</div>
