.fixed-header {
  width: calc(100% - 12.5rem);
  &-mask {
    width: calc(100% - 12.5rem);
    margin-left: 10rem;
    background-color: #f1f4f5;
    height: 3rem;
  }
  .copy-bg {
    background-color: #6b9eb6;
  }
}
.website-page-heading {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 2px solid #d6e1e3;
  .header {
    font-family: Baloo !important;
    color: #154f5b;
    .one {
      font-family: Baloo;
      color: #64c2bc;
    }
  }
}
.add-info {
  padding-top: 4.75rem;
  min-height: 1rem !important;
  .detail-section {
    background-color: #eaf3f6;
    border-bottom-right-radius: 20px;
    &-subheading {
      color: #154f5b;
    }
  }
  .book-button {
    background-color: #73959d;
    border: 2px solid #73959d;
    color: #fff;
    font-family: Baloo;
    font-stretch: normal;
    letter-spacing: normal;
    &:hover {
      background-color: #fff;
      color: #73959d;
    }
  }
  .heading {
    font-family: Baloo;
    color: #154f5b;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 32px;
    letter-spacing: -1px;
  }
  .text {
    font-family: poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #154f5b;
  }
  .add-another {
    font-family: Baloo;
    color: #00a4b7;
  }
}

.input-section {
  border-bottom-left-radius: 20px;
  &-subheading {
    color: #154f5b;
  }
  &-info {
    color: #154f5b;
    background-color: #f6f5ea;
  }
  .input-field {
    &-secondary-text {
      color: #154f5b;
    }
    .w-form {
      width: calc(100% - 11rem);
    }
    .label {
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #154f5b;
    }
    .input-photo {
      background: #f6f9fa;
      border: 2px dashed #d6e1e3;
      border-radius: 8px;
      width: 120px;
      height: 120px;
    }
    .input-award {
      background: #f6f9fa;
      border: 1px solid #d6e1e3;
      border-radius: 8px;
      width: 360px;
      .input {
        background: #ffffff;
        border: 2px solid #d6e1e3;
        border-radius: 8px;
        width: 300px;
        color: #154f5b;
      }
      .input-photo {
        background: #f6f9fa;
        border: 2px dashed #d6e1e3;
        border-radius: 8px;
        width: 120px;
        height: 120px;
      }
    }
  }
  .radio-input {
    border: 2px solid #d6e1e4;
    &-border-b {
      border-bottom: 2px solid #d6e1e4;
    }
  }
}
.tinytiptext::before {
  content: '';
  position: absolute;
  top: 0%;
  right: 100%;
  border-width: 27px 24px;
  border-style: solid;
  border-color: transparent #eaf3f6 transparent transparent;
}
.red {
  background-color: red;
}
