<div class="fixed z-50 left-0 top-0 fixed-header">
  <div class=" website-page-heading bg-white py-4 px-8 flex justify-between w-full">
    <header class="header leading-9 font-normal not-italic flex items-center"><span
        class="one -pb-4 font-normal not-italic text-7xl leading-6 mr-3"> 1 </span> <span class="text-4xl">Register A
        Walk-In</span> </header>
    <div class="flex justify-between">
      <button class="noborder-button">Cancel</button>
      <button class="secondary-button w-52 mr-3 ml-6" (click)="onBooking()">Save
        & Add Another</button>
      <button class="primary-button w-52 ml-3" [routerLink]="['../status-booking']">Save
        & Exit</button>
    </div>
  </div>
</div>
<div class="fixed-header-mask fixed z-40 left-0 top-0"></div>
<form [formGroup]="bookingForm">
  <div class="add-info flex w-full">
    <div class="input-section w-7/12 bg-white py-8 px-12 flex flex-col">
      <div class="input-field flex mb-4">
        <div class=" w-44 label text-right mt-4 mr-6"><label for="">Email*</label></div>
        <div class="w-form"><input class="input w-full py-3 px-4 focus:outline-none"
            placeholder="Enter customer’s email id" formControlName="email" />
        </div>
      </div>
      <div class="input-field flex mb-4">
        <div class=" w-44 label text-right mt-4 mr-6"><label for="">Phone Number</label></div>
        <div class="w-form"><input class="input w-full py-3 px-4 focus:outline-none"
            placeholder="Enter customer’s phone number" formControlName="phonenumber"></div>
      </div>
      <div class="input-field flex mb-4">
        <div class=" w-44 label text-right mt-4 mr-6"><label for="">Customer Name</label></div>
        <div class="w-form"><input class="input w-full py-3 px-4 focus:outline-none"
            placeholder="Enter customer’s full name" formControlName="customername"></div>
      </div>
      <div class="input-field flex mb-4">
        <div class=" w-44 label text-right mt-4 mr-6"><label for="">Service*</label></div>
        <div class="w-form"><select class="input py-3 px-4 w-full" type="select" placeholder="Enter service name"
            formControlName="service">
            <option value="" disabled selected>Service</option>

            <option value="op1">option1</option>
            <option value="op2">option2</option>
          </select>
        </div>
      </div>
      <div class="input-field flex mb-4">
        <div class=" w-44 label text-right mt-4 mr-6"><label for="">Date*</label></div>
        <div class="w-form">
          <input type="date" class="input w-full py-3 px-4 focus:outline-none" placeholder="Enter Date"
            formControlName="date" />
        </div>
      </div>
      <div class="input-field flex mb-4">
        <div class=" w-44 label text-right mt-4 mr-6"><label for="">Slot*</label></div>
        <div class="w-form"><select class="input py-3 px-4 w-full" type="select" placeholder="Select Slot"
            formControlName="slot">
            <option value="" disabled selected>Slot</option>

            <option value="1">option1</option>
            <option value="2">option2</option>
          </select>
        </div>
      </div>
      <div class="input-field flex mb-4">
        <div class=" w-44 label text-right mt-4 mr-6"><label for="">Payment*</label></div>
        <div class="w-form">
          <div class="flex flex-col w-full rounded-lg radio-input">
            <label class="radio-container py-3 radio-input-border-b" for="online">
              <div class="flex flex-col">
                <p class="radio-container-name">Online</p>
                <p class="radio-container-descri">Email payment link</p>
              </div>
              <input type="radio" id="online" name="payment" value="online" formControlName="payment">
              <span class="radiomark"></span>
            </label>
            <label class="radio-container py-3" for="cash">
              <div class="flex flex-col">
                <p class="radio-container-name">Off Platform</p>
                <p class="radio-container-descri">Cash / Direct Transfe</p>
              </div>
              <input type="radio" id="cash" name="payment" value="cash" formControlName="payment">
              <span class="radiomark"></span>
            </label>
          </div>
          <div class="w-full p-3 mt-3 rounded-lg input-section-info">💡 Upon registration a settled invoice
            email
            will be the sent to the walk-in guest.
          </div>
        </div>
      </div>

    </div>
    <div class="detail-section w-5/12">
      <div class="px-8 py-8 relative"></div>
    </div>
  </div>
</form>