<div class="fixed z-50 left-0 top-0 fixed-header">
    <div class=" website-page-heading bg-white py-4 px-8 flex justify-between w-full">
        <header class="header leading-9 font-normal not-italic flex items-center"><span
                class="one -pb-4 font-normal not-italic text-7xl leading-6 mr-3"> 1 </span> <span
                class="text-4xl">Register A Walk-In</span> </header>
        <div class="flex justify-between">
            <button class="cancel-button text-base not-italic font-normal leading-6 mr-2">Cancel</button>
            <button
                class="save-button-secondary active-save w-48 rounded-full text-white text-center text-base font-normal not-italic py-3 ml-2">Save
                & Add Another</button>
            <button
                class="save-button active-save w-48 rounded-full text-white text-center text-base font-normal not-italic py-3 ml-2"
                [routerLink]="['../status-booking']">Save
                & Exit</button> </div>
    </div>
</div>
<div class="fixed-header-mask fixed z-40 left-0 top-0"></div>

<div class="add-info flex w-full">
    <div class="input-section w-7/12 bg-white py-8 px-12 flex flex-col">
        <div class="input-field flex mb-4">
            <div class=" w-44 label text-right mt-4 mr-6"><label for="">Email*</label></div>
            <div class="w-form"><input class="input w-full py-3 px-4 focus:outline-none" placeholder="Enter customer’s email id" />
            </div>
        </div>
        <div class="input-field flex mb-4">
            <div class=" w-44 label text-right mt-4 mr-6"><label for="">Phone Number</label></div>
            <div class="w-form"><textarea rows="3" class="input w-full py-3 px-4 focus:outline-none"
                    placeholder="Enter customer’s phone number"></textarea></div>
        </div>
        <div class="input-field flex mb-4">
            <div class=" w-44 label text-right mt-4 mr-6"><label for="">Customer Name</label></div>
            <div class="w-form"><textarea rows="3" class="input w-full py-3 px-4 focus:outline-none"
                    placeholder="Enter customer’s full name"></textarea></div>
        </div>
        <div class="input-field flex mb-4">
            <div class=" w-44 label text-right mt-4 mr-6"><label for="">Service*</label></div>
            <div class="w-form"><select class="input py-3 px-4 w-full" type="select"
                    placeholder="Enter service name">
                    <option value="">option1</option>
                    <option value="">option2</option>
                </select>
            </div>
        </div>
        <div class="input-field flex mb-4">
            <div class=" w-44 label text-right mt-4 mr-6"><label for="">Date*</label></div>
            <div class="w-form">
            </div>
        </div>
        <div class="input-field flex mb-4">
            <div class=" w-44 label text-right mt-4 mr-6"><label for="">Slot*</label></div>
            <div class="w-form"><select class="input py-3 px-4 w-full" type="select"
                    placeholder="Select Slot">
                    <option value="">option1</option>
                    <option value="">option2</option>
                </select>
            </div>
        </div>
        <div class="input-field flex mb-4">
            <div class=" w-44 label text-right mt-4 mr-6"><label for="">Payment*</label></div>
            <div class="w-form">
                <div class="flex flex-col w-full py-3 rounded-lg radio-container">
                    <div class="flex pb-3 px-3 radio-container-border-b">
                        <input type="radio" id="online" name="payment" value="online" class="cursor-pointer">
                          <label for="online" class="w-full cursor-pointer">
                            <div class="flex flex-col ml-2 -mt-1">
                                <p class="radio-container-name">Online</p>
                                <p class="radio-container-descri">Email payment link</p>
                            </div>
                        </label>
                    </div>
                    <div class="flex pt-3 px-3">
                        <input type="radio" id="cash" name="payment" value="cash" class="cursor-pointer">
                          <label for="cash" class="w-full cursor-pointer">
                            <div class="flex flex-col ml-2 -mt-1">
                                <p class="radio-container-name">Off Platform</p>
                                <p class="radio-container-descri">Cash / Direct Transfer</p>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="w-full p-3 mt-3 rounded-lg input-section-info">💡 Upon registration a settled invoice email
                    will be the sent to the walk-in guest.
                </div>
            </div>
        </div>
    </div>
    <div class="detail-section w-5/12">
        <div class="px-8 py-8 relative">
        </div>

    </div>

</div>