<div class="fixed z-50 left-0 top-0 fixed-header">
  <div class="website-page-heading bg-white py-4 px-8 flex justify-between w-full">
    <header class="header leading-9 font-normal not-italic flex items-center">
    <ng-container *ngIf="!editMode; else editTitle">
      <span class="one -pb-4 font-normal not-italic text-7xl leading-6 mr-3"> 3 </span>
      <span class="text-4xl">Add Payment Info</span>
    </ng-container>
    <ng-template #editTitle>
      <span class="text-4xl">Edit Payment Info</span>
    </ng-template>
    </header>
    <div class="flex justify-between">
      <button class="cancel-button text-base not-italic font-normal leading-6 mr-2" (click)="location.back()">Cancel</button>

      <button
        class="save-button active-save w-48 rounded-full text-white text-center text-base font-normal not-italic py-3 ml-2"
        (click)="onSubmitPayment()"
      >
        Save
      </button>
    </div>
  </div>
</div>
<div class="fixed-header-mask fixed z-40 left-0 top-0"></div>
<form [formGroup]="paymentForm">
  <div class="add-info flex w-full">
    <div class="input-section w-7/12 bg-white py-8 px-12 flex flex-col">
      <h5 class="input-section-subheading font-bold mb-4 mt-8">Billing Details</h5>
      <div class="input-field flex mb-4">
        <div class="w-44 label text-right mt-4 mr-6"><label for="">Account Type</label></div>
        <div class="w-form">
          <div class="flex flex-col w-full py-3 rounded-lg radio-container">
            <div class="flex pb-3 px-3 radio-container-border-b">
              <input
                type="radio"
                id="fixed"
                name="company"
                value="INDIVIDUAL"
                class="cursor-pointer"
                formControlName="company"
              />
               
              <label for="fixed" class="w-full cursor-pointer">
                <div class="flex flex-col ml-2 -mt-1">
                  <p class="radio-container-name pt-1">Individual</p>
                </div>
              </label>
            </div>
            <div class="flex pt-3 px-3">
              <input
                type="radio"
                id="flexible"
                name="company"
                value="COMPANY"
                class="cursor-pointer"
                formControlName="company"

              />
               
              <label for="flexible" class="w-full cursor-pointer">
                <div class="flex flex-col ml-2 -mt-1">
                  <p class="radio-container-name pt-1">Company</p>
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="input-field flex mb-4">
        <div class="w-44 label text-right mt-4 mr-6"><label for="">Company Name*</label></div>
        <div class="w-form">
          <input
            class="input w-full py-3 px-4 focus:outline-none"
            placeholder="Enter name of your company"
            formControlName="companyname"
          />
        </div>
      </div>
      <div class="input-field flex mb-4">
        <div class="w-44 label text-right mt-4 mr-6"><label for="">Address*</label></div>
        <div class="w-form">
          <input class="input w-full py-3 px-4 focus:outline-none" placeholder="Address Line 1"
          formControlName="addressline1"/>
        </div>
      </div>
      <div class="input-field flex mb-4">
        <div class="w-44 label text-right mt-4 mr-6"></div>
        <div class="w-form">
          <input class="input w-full py-3 px-4 focus:outline-none" placeholder="Address Line 2"
          formControlName="addressline2"/>
        </div>
      </div>
      <div class="input-field flex mb-4">
        <div class="w-44 label text-right mt-4 mr-6"></div>
        <div class="w-form">
          <input class="input w-full py-3 px-4 focus:outline-none" placeholder="Postal Code"
          formControlName="postelcode"/>
        </div>
      </div>
      <div class="input-field flex mb-4">
        <div class="w-44 label text-right mt-4 mr-6"></div>
        <div class="w-form">
          <input class="input w-full py-3 px-4 focus:outline-none" placeholder="City"
          formControlName="city"/>
        </div>
      </div>
      <div class="input-field flex mb-4">
        <div class="w-44 label text-right mt-4 mr-6"></div>
        <div class="w-form">
          <input class="input w-full py-3 px-4 focus:outline-none" placeholder="State"
          formControlName="state"/>
        </div>
      </div>
      <div class="input-field flex mb-4">
        <div class="w-44 label text-right mt-4 mr-6"></div>
        <div class="w-form">
          <input class="input w-full py-3 px-4 focus:outline-none" placeholder="Country"
          formControlName="country"/>
        </div>
      </div>

      <div class="input-field flex mb-4">
        <div class="w-44 label text-right mt-4 mr-6"><label for="">Default Currency*</label></div>
        <div class="w-form">
          <select
            class="input py-3 px-4 w-full"
            type="select"
            placeholder="Select location / venue of class"
            [formControlName]="'currency'"
          >
            <option value="op1">option1</option>
            <option value="op2">option2</option>
          </select>
        </div>
      </div>
      <div class="flex">
        <h5 class="input-section-subheading font-bold mb-4 mt-8 mr-12">Bank Account Details</h5>
        <p
          class="mb-4 mt-8 not-italic font-normal font-poppins text-base leading-6 text-left text-primaryFont"
        >
          We’ve partnered with
          <span class="italic font-bold text-primaryFont text-base mr-1"> Rapyd </span> to help you
          collect online payments securely.
        </p>
        <!-- <p class="mb-4 mt-8 not-italic font-normal font-poppins text-base leading-6 text-left text-primaryFont">Account number/ID</p>     -->
      </div>
      <!-- <div class="input-field flex mb-4"> -->

      <!--Awaiting conformation-->

      <!-- <div class=" w-44 label text-right mt-4 mr-6"></div>
            <span class="flex">
                <div class="mb-4 mt-9 mr-4"><app-awaiting></app-awaiting></div>
                <p class="mb-4 mt-8 not-italic font-normal font-poppins text-base leading-6 text-left text-primaryFont">Bank Account connected</p>
             </span> -->

      <!-- Bank Account is connected -->

      <!-- <span class="flex">
           <div class="mb-4 mt-9 mr-4"><app-formright></app-formright></div>
           <p class="mb-4 mt-8 not-italic font-normal font-poppins text-base leading-6 text-left text-primaryFont">Bank Account connected</p>
        </span> -->

      <!-- </div> -->
      <div class="input-field flex mb-4">
        <div class="w-44 label text-right mt-4 mr-6"></div>
        <button
          class="connect-bank rounded-full text-white px-8 h-12 not-italic font-baloo font-normal text-base leading-6 text-center"
        >
          Connect Bank Account
        </button>
      </div>
      <div class="input-field checkbox-input flex mb-4">
        <div class="w-44 label text-right mt-4 mr-6"></div>
        <label
          class="check-container not-italic font-normal font-poppins text-base leading-6 text-left text-primaryFont"
          >It’s okay, I do not intend to collect online payments right now.

          <input type="checkbox" />
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
    <div class="detail-section w-5/12"></div>
  </div>
</form>
