<div class="fixed z-50 fixed-header">
  <div class="website-page-heading bg-white py-4 px-8 flex justify-between w-full">
    <header class="header leading-9 font-normal not-italic flex items-center">
      <ng-container *ngIf="!editMode; else editTitle">
        <span
          class="one -pb-4 font-normal not-italic text-7xl leading-6 mr-3"
          *ngIf="isGettingStarted"
        >
          1
        </span>
        <span class="text-4xl">Add Business Info</span>
      </ng-container>
      <ng-template #editTitle>
        <span class="text-4xl">Edit Business Info</span>
      </ng-template>
    </header>
    <div class="flex justify-between items-center">
      <button class="noborder-button" (click)="location.back()">Cancel</button>
      <button
        class="primary-button w-48 ml-3"
        (click)="onSubmitBusiness()"
        [disabled]="!social?.valid || isSaving"
      >
        {{ isUploadingImages ? 'Uploading images' : 'Save' }}
      </button>
    </div>
  </div>
</div>
<div class="fixed-header-mask fixed z-40 left-0 top-0"></div>
<form [formGroup]="businessInfoForm">
  <div class="add-info flex w-full">
    <div class="font-poppins input-section w-8/12 bg-white p-8 flex flex-col relative">
      <div class="input-field flex mb-8">
        <div class="w-36 label mt-4"><label for="">Company Name*</label></div>
        <div>
          <input class="input py-3 px-4" placeholder="Company name" formControlName="companyname" />
        </div>
      </div>
      <div class="input-field flex mb-8">
        <div class="w-36 label mt-4">
          <label for="">Profile Picture* </label>
          <span class="block"> (Logo /Display Picture) </span>
        </div>

        <input
          type="file"
          accept="image/*"
          style="display: none"
          #logo
          (change)="handleFileInputLogo($event)"
        />
        <div class="relative">
          <button
            (click)="deleteLogo()"
            *ngIf="logoImageUrl"
            class="absolute right-0 z-10 transform -translate-y-1/2 translate-x-1/2"
          >
            <img src="../../../../../assets/images/icons/cross-circle.svg" alt="remove" />
          </button>
          <div
            (click)="logo.click()"
            class="input-photo overflow-hidden text-center flex flex-col justify-evenly items-center cursor-pointer hover:cursor-pointer"
            placeholder="Add a Picture "
          >
            <img
              *ngIf="logoImageUrl"
              [src]="logoImageUrl"
              class="image h-full w-full object-cover"
              object-fit:
              contain
            />
            <ng-container *ngIf="!logoImageUrl">
              <img
                class="h-7 cursor-pointer"
                src="../../../../../assets/images/defualt-image.svg"
                alt="logo"
              />
              <span class="text-mediumGray text-center">Add a <br />Picture</span>
            </ng-container>
          </div>
        </div>
      </div>

      <!-- Cover photo -->

      <div class="input-field flex mb-8">
        <div class="w-36 label mt-4"><label for="">Cover Photo* </label></div>
        <input
          type="file"
          accept="image/*"
          style="display: none"
          #cover
          (change)="handleFileInputCover($event)"
        />
        <div class="relative">
          <div class="relative" #imageContainer>
            <button
              (click)="deleteCover()"
              *ngIf="coverImageUrl"
              class="absolute right-0 z-10 transform -translate-y-1/2 translate-x-1/2"
            >
              <img src="../../../../../assets/images/icons/cross-circle.svg" alt="remove" />
            </button>
            <div
              (click)="cover.click()"
              class="input-photo overflow-hidden text-center flex flex-col justify-evenly items-center hover:cursor-pointer"
              placeholder="Add Cover Photo"
            >
              <img
                *ngIf="coverImageUrl"
                [src]="coverImageUrl"
                class="image h-full w-full object-cover"
                object-fit:
                contain
              />
              <ng-container *ngIf="!coverImageUrl">
                <img class="h-7" src="../../../../../assets/images/defualt-image.svg" alt="logo" />
                <span class="text-mediumGray text-center">Add Cover <br />Photo</span>
              </ng-container>
            </div>
          </div>
        </div>
      </div>

      <!-- Cover photo ends -->

      <div class="input-field flex mb-8">
        <div class="w-36 label mt-4"><label for="">Punchline* </label></div>
        <!-- <div>
          <textarea
            class="input py-3 px-4 punchline"
            placeholder="Eg: I help kids learn the basics of Music"
            formControlName="punchline"
            #punchline
          >
          </textarea>
        </div> -->

        <div class="textarea-wrapper relative input w-full p-0.5 focus-within:pb-4 mb-4">
          <textarea
            formControlName="punchline"
            class="focus:outline-none resize-none textarea-focus py-3 px-2.5 w-full"
            placeholder="Eg: I help kids learn the basics of Music"
            appTextareaAutoresize
            #punchline
            (onChange)="onKeyUpPunchLine(punchline)"
            maxlength="100"
          ></textarea>
          <span class="remaning absolute bottom-2 right-4 text-xs bg-white text-mediumGray italic"
            >{{ punchline.value.length }}/100</span
          >
        </div>
      </div>
      <!-- <div class="input-field flex mb-8">
        <div class="w-36 label mt-4"><label for="">About Me* </label></div>
        <div>
          <textarea
            class="input py-3 px-4"
            placeholder="Tell a little about of yourself"
            formControlName="aboutme"
            rows="2"
          ></textarea>
        </div>
      </div> -->
      <div class="input-field flex mb-8 relative">
        <div class="w-36 label mt-4"><label for="">Social Links* </label></div>
        <div class="flex flex-col" formArrayName="socialitems" #socialContainer>
          <ng-container
            *ngFor="let item of socialItems.controls; let i = index; let isFirst = first"
          >
            <div [formGroupName]="i" [ngClass]="{ 'mt-3': !isFirst }">
              <input class="input py-3 px-4" placeholder="Enter URL" formControlName="url" />
            </div>
          </ng-container>
          <p
            *ngIf="social?.valid === false ? true : false && social?.errors?.['pattern']"
            class="error font-normal text-xs"
          >
            Invalid URL
          </p>
          <button
            class="noborder-button add-another"
            (click)="addSocialItem()"
            [disabled]="!social?.valid"
          >
            + Add Another
          </button>
        </div>
      </div>

      <!-- <div class="input-field flex mb-8 relative">
        <div class="w-36 label mt-4"><label for="">Photos*</label></div>

        <div class="flex w-form" formArrayName="photos">
          <div
            class="relative mr-2"
            *ngFor="let photo of businessPhotosList?.controls; let i = index"
            [formGroupName]="i"
          >
            <button
              (click)="deletePhoto(i)"
              *ngIf="photo.get('photo_data_url')?.value"
              class="absolute right-0 z-10 transform -translate-y-1/2 translate-x-1/2"
            >
              <img src="../../../../../assets/images/icons/cross-circle.svg" alt="remove" />
            </button>
            <div
              class="input-photo text-center relative cursor-pointer flex flex-col justify-evenly items-center overflow-hidden"
              (click)="photoInput.click()"
            >
              <input
                type="file"
                #photoInput
                accept="image/*"
                class="hidden"
                (change)="handleFileInput($event, i)"
              />
              <img
                *ngIf="photo.get('photo_data_url')?.value"
                [src]="photo.get('photo_data_url')?.value"
                alt="{{ 'Photo_' + (i + 1) }}"
                class="image h-full w-full object-cover"
              />
              <ng-container *ngIf="!photo.get('photo_data_url')?.value">
                <img class="h-7" src="../../../../../assets/images/defualt-image.svg" alt="logo" />
                <span class="text-mediumGray cursor-pointer">Add Photo</span>
              </ng-container>
            </div>
          </div>
        </div>


      </div>  -->

      <!-- Contact Details -->

      <div class="input-field flex mb-8">
        <div class="w-36 label mt-4">
          <label for=""> Contact Details*</label>
        </div>
        <div class="flex flex-col">
          <ng-container>
            <div class="input-award flex flex-col px-4 py-4">
              <input
                type="email"
                class="input py-3 px-4 mb-3"
                placeholder="Enter Email Address"
                formControlName="email"
              />

              <input
                type="number"
                min="0"
                class="input py-3 px-4"
                placeholder="Enter Phone Number"
                formControlName="phone_number"
              />
              <div class="w-form input-field">
                <p class="label py-4">Allow customers to contact you via</p>
                <div class="relative">
                  <div class="flex flex-col w-full rounded-lg radio-input bg-white" #radioContainer>
                    <label class="radio-container py-3 radio-input-border-b" for="fixed">
                      <div class="flex flex-col">
                        <p class="text-primaryFont pt-0.5">SMS</p>
                      </div>
                      <input
                        type="radio"
                        id="fixed"
                        name="contact_type"
                        value="SMS"
                        formControlName="contact_type"
                      />
                      <span class="radiomark"></span>
                    </label>
                    <label class="radio-container py-3" for="flexible">
                      <div class="flex flex-col">
                        <p class="text-primaryFont pt-0.5">WhatsApp</p>
                      </div>
                      <input
                        type="radio"
                        id="flexible"
                        name="contact_type"
                        value="WHATSAPP"
                        formControlName="contact_type"
                      />
                      <span class="radiomark"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>

      <!-- Contact Details -->

      <div class="input-field flex mb-8">
        <div class="w-36 label mt-4">
          <label for="">
            Awards /<br />Certifications/<br />
            Licenses</label
          >
        </div>
        <div class="flex flex-col">
          <ng-container
            formArrayName="licenceitems"
            *ngFor="let item of recognitions.controls; let i = index; let isFirst = first"
          >
            <div
              class="input-award flex flex-col px-4 py-4"
              [formGroupName]="i"
              [ngClass]="{ 'mt-3': !isFirst }"
            >
              <!-- <select
                class="input py-3 px-4 mb-4"
                type="select"
                [formControlName]="'recognition_type'"
              >
                <option value="" hidden>Select Type</option>
                <option *ngFor="let option of recognitionTypeOptions" [value]="option.value">
                  {{ option.label }}
                </option>
              </select> -->
              <div class="mb-4">
                <app-dropdown
                  [options]="recognitionTypeOptions"
                  placeholder="Select Type"
                  formControlName="recognition_type"
                  [emitId]="true"
                  [idKey]="'value'"
                ></app-dropdown>
              </div>

              <input
                class="input py-3 px-4 mb-4"
                placeholder="Enter name of Certificate / License"
                formControlName="recognition_name"
              />
              <!-- <input
                class="input py-3 px-4 mb-4"
                placeholder="Expiry date (MM/DD/YY)"
                formControlName="expiry_date"
              /> -->

              <div
                class="w-form calendar-1 font-poppins mb-4"
                *ngIf="item.get('recognition_type')?.value !== 'AWARD'"
              >
                <!-- <input type="date" class="input w-full py-3 px-4 focus:outline-none" placeholder="Enter Date"
                  formControlName="date" /> -->
                <!-- <ngx-datepicker formControlName="expiry_date" [options]="options"></ngx-datepicker> -->
                <app-select-calendar
                  [formControlName]="'expiry_date'"
                  placeholder="Enter Date"
                ></app-select-calendar>
              </div>

              <div class="flex items-center justify-between">
                <div class="image-wrapper">
                  <input
                    type="file"
                    accept="image/*"
                    #licenceLogo
                    style="display: none"
                    (change)="handleFileInputLicence($event, i)"
                  />
                  <div class="relative w-28">
                    <button
                      (click)="deleteLicense(i)"
                      *ngIf="arrayLicenceImageUrl[i]"
                      class="absolute right-0 z-10 transform -translate-y-1/2 translate-x-1/2"
                    >
                      <img src="../../../../../assets/images/icons/cross-circle.svg" alt="remove" />
                    </button>
                    <div
                      class="input-photo overflow-hidden text-center flex flex-col justify-evenly items-center hover:cursor-pointer"
                      placeholder="Add a Logo"
                      (click)="licenceLogo.click()"
                    >
                      <img
                        *ngIf="arrayLicenceImageUrl[i]"
                        [src]="arrayLicenceImageUrl[i]"
                        class="image h-full w-full object-cover"
                      />
                      <ng-container *ngIf="!arrayLicenceImageUrl[i]">
                        <img
                          class="h-7"
                          src="../../../../../assets/images/defualt-image.svg"
                          alt="photo"
                        />
                        <span class="text-mediumGray cursor-pointer">Add Photo</span>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <button
                  class="flex items-center text-secondaryBlue font-semibold gap-1 flex-grow-0 p-4"
                  type="button"
                  (click)="deleteAwardOrLicence(i)"
                >
                  <img src="../../../../../assets/images/icons/delete.svg" alt="delete" />
                  <span class="noborder-button px-0 font-normal text-base mt-1">Delete </span>
                </button>
              </div>
            </div>
          </ng-container>
          <button class="noborder-button add-another" (click)="addLicenceItem()">
            + Add Another
          </button>
        </div>
      </div>

      <div class="input-field flex mb-8">
        <div class="w-36 label mt-4"><label for="">Testimonial</label></div>
        <div class="flex flex-col" formArrayName="testimonialitems">
          <ng-container
            *ngFor="let item of testimonials.controls; let i = index; let isFirst = first"
          >
            <div
              class="input-award flex flex-col px-4 py-4"
              [formGroupName]="i"
              [ngClass]="{ 'mt-3': !isFirst }"
            >
              <input
                class="input py-3 px-4 mb-4"
                placeholder="Enter client name"
                formControlName="name"
              />
              <!-- <input
                class="input py-3 px-4 mb-4"
                placeholder="Client title eg ”Parents of John Doe” or “VP at Google"
                formControlName="title"
              /> -->
              <div class="textarea-wrapper relative input w-full p-0.5 mb-4">
                <textarea
                  formControlName="title"
                  class="focus:outline-none resize-none textarea-focus py-3 px-2.5 w-full"
                  placeholder="Client title eg ”Parents of John Doe” or “VP at Google"
                  appTextareaAutoresize
                  #title
                  (onChange)="onKeyUp(title)"
                  maxlength="100"
                ></textarea>
                <span
                  class="remaning absolute bottom-2 right-4 text-xs bg-white text-mediumGray italic"
                  >{{ title.value.length }}/100</span
                >
              </div>
              <!-- <input
                class="input py-3 px-4 mb-4"
                placeholder="Enter testimonial"
                formControlName="testimonial"
              /> -->

              <div class="textarea-wrapper relative input w-full p-0.5 mb-4">
                <textarea
                  formControlName="testimonial"
                  class="focus:outline-none resize-none textarea-focus py-3 px-2.5 w-full"
                  placeholder="Enter testimonial"
                  appTextareaAutoresize
                  #box
                  (onChange)="onKeyUp(box)"
                  maxlength="200"
                ></textarea>
                <span
                  class="remaning absolute bottom-2 right-4 text-xs bg-white text-mediumGray italic"
                  >{{ box.value.length }}/200</span
                >
              </div>
              <div class="flex items-center justify-between">
                <div class="image-wrapper">
                  <input
                    type="file"
                    accept="image/*"
                    #clientPhoto
                    style="display: none"
                    (change)="handleFileTestimonial($event, i)"
                  />
                  <div class="relative w-28">
                    <button
                      (click)="deleteTestimonial(i)"
                      *ngIf="arrayTestmonialImageUrl[i]"
                      class="absolute right-0 z-10 transform -translate-y-1/2 translate-x-1/2"
                    >
                      <img src="../../../../../assets/images/icons/cross-circle.svg" alt="remove" />
                    </button>
                    <div
                      class="input-photo overflow-hidden text-center mr-2 flex flex-col justify-evenly items-center hover:cursor-pointer"
                      placeholder="Add photo of client"
                      (click)="clientPhoto.click()"
                    >
                      <img
                        *ngIf="arrayTestmonialImageUrl[i]"
                        [src]="arrayTestmonialImageUrl[i]"
                        class="image h-full w-full object-cover"
                      />
                      <ng-container *ngIf="!arrayTestmonialImageUrl[i]">
                        <img
                          class="h-7"
                          src="../../../../../assets/images/defualt-image.svg"
                          alt="photo"
                        />
                        <span class="text-mediumGray"
                          >Add Photo <br />
                          of Client</span
                        >
                      </ng-container>
                    </div>
                  </div>
                </div>
                <button
                  class="flex items-center text-secondaryBlue font-semibold gap-1 flex-grow-0 p-4"
                  type="button"
                  (click)="deleteTestmonials(i)"
                >
                  <img src="../../../../../assets/images/icons/delete.svg" alt="delete" />
                  <span class="noborder-button px-0 text-base font-normal mt-1">Delete </span>
                </button>
              </div>
            </div>
          </ng-container>
          <button class="noborder-button add-another" (click)="addTestimonialItem()">
            + Add Another
          </button>
        </div>
      </div>
    </div>
    <div class="detail-section w-4/12 relative">
      <div class="absolute" *ngIf="closeToPunchline" [ngStyle]="{ top: punchlineContainerPos }">
        <div class="px-8 py-8 tinytiptext relative">
          <div class="heading">💡 Tiny Tip</div>
          <div class="text pt-7 flex flex-col gap-7">
            <span>
              Punchline is the first thing your customer will read on your TinyCard™. Keep it crisp!
              for eg:
            </span>
            <span> “Transform your hobby into a business” </span>
            <span> “Your Own Personal Teacher Live!” </span>
          </div>
        </div>
      </div>
      <div class="absolute" *ngIf="closeToSocial" [ngStyle]="{ top: photoContainerPos }">
        <div class="px-8 py-8 tinytiptext relative">
          <div class="heading">💡 Tiny Tip</div>
          <div class="text pt-7 flex flex-col gap-7">
            <p>You can add upto 5 social links through which your customers can find you</p>
            <p>One of the links can be your own website!</p>
          </div>
        </div>
      </div>
      <div class="absolute" *ngIf="closeToRadio" [ngStyle]="{ top: radioContainerPos }">
        <div class="px-8 py-8 tinytiptext relative">
          <div class="heading">💡 Tiny Tip</div>
          <div class="text pt-7 flex flex-col gap-7">
            <p>Choose a channel where you can comfortably communicate with your customers</p>
          </div>
        </div>
      </div>

      <div class="absolute" *ngIf="closeToImage" [ngStyle]="{ top: imageContainerPos }">
        <div class="px-8 py-8 tinytiptext relative">
          <div class="heading">💡 Tiny Tip</div>
          <div class="text pt-7 flex flex-col gap-7">
            <p>
              Cover photo is the larger photo on top of your TinyCard™, above your profile photo.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
