<div class="w-full website-page bg-white p-8 flex flex-col items-center justify-center">
  <app-no-data-view-website></app-no-data-view-website>
  <h1 class="title not-italic font-normal text-2xl leading-6 mb-0 mt-12">
    All bookings of you services will be listed here
  </h1>
  <p class="content font-normal not-italic text-base mt-3">
    Create your TinyCard™, start adding services and share them with your customers
  </p>
  <div class="flex justify-evenly mt-8">
    <button class="secondary-button w-64"><span>See TinyCard™ Template</span></button>
    <button
      class="primary-button w-52 ml-3"
      [routerLink]="['../add-booking']"
      routerLinkActive="router-link-active"
    >
      Get Started
    </button>
  </div>
</div>
