<div class="flex flex-col min-h-full rounded-5 overflow-hidden">
  <div class="website-page-heading bg-white py-4 px-8 flex justify-between">
    <header class="header leading-9 font-normal not-italic">
      <span class="text-4xl">{{ productObj?.title ?? '' }}</span>
    </header>
    <div class="flex">
      <div class="relative">
        <button type="button" class="secondary-button mr-2 px-8" (click)="copyViewBox()">
          <span>Share</span>
        </button>
        <ng-container *ngIf="copyView">
          <ng-container *ngTemplateOutlet="share; context: { ShareLink: 'data' }"></ng-container>
        </ng-container>
      </div>
      <app-three-dots
        [actions]="threeDotsActions"
        (actionTriggered)="handleAction($event)"
      ></app-three-dots>
    </div>
  </div>
  <hr class="line" />
  <div class="flex">
    <div class="website-page bg-white p-8 font-poppins text-primaryFont rounded-bl-3xl flex-1">
      <main>
        <div class="flex mb-4">
          <div class="w-44 py-3 flex justify-end pr-8">
            <span class="font-medium text-right">Title</span>
          </div>
          <div class="flex-1 py-3 pl-4 flex">
            <span>{{ productObj?.title ?? '-' }}</span>
          </div>
        </div>
        <div class="flex mb-4">
          <div class="w-44 py-3 flex justify-end pr-8">
            <span class="font-medium text-right">Description</span>
          </div>
          <div class="flex-1 py-3 pl-4 flex">
            <span>{{ productObj?.description ?? '-' }}</span>
          </div>
        </div>
        <div class="flex mb-4">
          <div class="w-44 py-3 flex justify-end pr-8">
            <span class="font-medium text-right">Photos</span>
          </div>
          <div class="flex-1 pl-4 flex gap-3">
            <div
              *ngFor="let photo of productObj?.product_photos; let i = index"
              class="w-28 h-28 overflow-hidden rounded-lg border-solid border-2 border-lightGrey flex justify-center items-center"
            >
              <img
                class="max-w-none h-full"
                [src]="photo?.photo_url"
                *ngIf="photo.photo_url"
                [alt]="'Photo_' + (i + 1)"
              />
              <img
                class="h-7"
                src="./../../../../../assets/images/defualt-image.svg"
                *ngIf="!photo?.photo_url"
                [alt]="'Photo_' + (i + 1)"
              />
            </div>
          </div>
        </div>
        <div class="flex mb-4">
          <div class="w-44 py-3 flex justify-end pr-8">
            <span class="font-medium text-right">Session Duration</span>
          </div>
          <div class="flex-1 py-3 pl-4 flex">
            <span>{{ productObj?.class?.duration_in_minutes ?? '-' }} min</span>
          </div>
        </div>
        <div class="flex mb-4">
          <div class="w-44 py-3 flex justify-end pr-8">
            <span class="font-medium text-right">Time</span>
          </div>
          <div class="flex-1 py-3 pl-4">
            <div
              class="flex w-full gap-3"
              [ngClass]="{ 'mb-3': !isLastTR }"
              *ngFor="let timeRange of timeRangeSerialized; let isLastTR = last"
            >
              <div class="w-32">
                <span>{{ timeRange?.label }}</span>
              </div>
              <div class="flex-1">
                <div
                  class="flex gap-3"
                  [ngClass]="{ 'mb-3': !isLast }"
                  *ngFor="let range of timeRange.ranges; let isLast = last"
                >
                  <div>
                    <span>{{ range.start_time_label }}</span>
                  </div>
                  <span> - </span>
                  <div>
                    <span>{{ range.end_time_label }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex mb-4">
          <div class="w-44 py-3 flex justify-end pr-8">
            <span class="font-medium text-right">Location</span>
          </div>
          <div class="flex-1 py-3 pl-4 flex">
            <span *ngIf="productObj?.class?.location_type === 'CUSTOMER_LOCATION'"
              >Customer's Location</span
            >
            <span *ngIf="productObj?.class?.location_type === 'ONLINE'"
              >Online (Zoom - connect)</span
            >
            <span *ngIf="productObj?.class?.location_type === 'BUSINESS_LOCATION'">{{
              productObj?.class?.business_location?.location_name
            }}</span>
            <span *ngIf="!productObj?.class?.location_type">-</span>
          </div>
        </div>
        <div class="flex mb-4">
          <div class="w-44 py-3 flex justify-end pr-8">
            <span class="font-medium text-right">Capacity</span>
          </div>
          <div class="flex-1 py-3 pl-4 flex">
            <span>{{ productObj?.class?.capacity ?? '-' }}</span>
          </div>
        </div>
        <div class="flex mb-4">
          <div class="w-44 py-3 flex justify-end pr-8">
            <span class="font-medium text-right">Price</span>
          </div>
          <div class="flex-1 py-3 pl-4 flex">
            <span>{{
              productObj?.price
                ? '$ ' +
                  productObj?.price +
                  ' for 1 session ' +
                  (productObj?.class?.duration_in_minutes
                    ? '(' + productObj?.class?.duration_in_minutes + ' minutes)'
                    : '')
                : '-'
            }}</span>
          </div>
        </div>
        <div class="flex mb-4">
          <div class="w-44 py-3 flex justify-end pr-8">
            <span class="font-medium text-right">Visibility</span>
          </div>
          <div class="flex-1 py-3 pl-4 flex">
            <span>{{ productObj?.visibility ?? '-' | titlecase }} min</span>
          </div>
        </div>
      </main>
    </div>
    <div class="detail-section w-5/12">
      <div class="p-8">
        <app-preview-product
          [title]="productObj?.title"
          [description]="productObj?.description"
          [photo]="photoForPreview"
          [price]="productObj?.price"
          [duration]="productObj?.class?.duration_in_minutes"
          [packages]="previewablePackages"
        >
        </app-preview-product>
      </div>
    </div>
  </div>
</div>

<app-modal [(open)]="openProductDeleteModal" [modalConfig]="{ closeOnOutsideClick: true }">
  <h3 class="text-xl font-bold">Delete Service ?</h3>
  <p class="mt-2">This action cannot be undone</p>
  <div class="flex justify-between mt-5">
    <div class="w-1/2 pr-2">
      <button class="secondary-button w-full" (click)="closeDeleteModal()">
        <span> Cancel</span>
      </button>
    </div>
    <div class="w-1/2 pl-2">
      <button class="primary-button w-full" (click)="closeDeleteModal(true)">Yes, Delete</button>
    </div>
  </div>
</app-modal>

<!-- popover div ends here -->

<ng-template #share let-copyLink="ShareLink" (click)="$event.stopPropagation()">
  <div
    class="absolute border border-grey-100 rounded-[20px] top-12 z-10 text-white font-medium bg-[#6B9EB6] p-6 right-0 w-96 cursor-auto"
  >
    <p class="flex items-center justify-between text-white font-poppins text-base">
      <span class="">Share service link with clients</span>
      <span
        class="text-white opacity-100 hover:opacity-80 text-3xl leading-none p-0 font-light cursor-pointer transform transition duration-700"
        (click)="copyView = false"
        >&times;</span
      >
    </p>

    <div class="relative overflow-hidden mt-3 bg-white rounded-lg flex">
      <input
        type="text"
        [value]="copyURL"
        class="absolute top-0 left-0 opacity-0 truncate text-primaryFont h-0 overflow-hidden rounded-lg z-0 focus:shadow focus:outline-none"
        #userinput
      />
      <div
        class="select-none leading-[48px] text-base truncate text-primaryFont h-12 w-full pl-4 z-0 focus:shadow focus:outline-none"
      >
        {{ copyURL }}
      </div>
      <button
        type="submit"
        class="copy-text justify-center pl-2 pr-4"
        (click)="copyInputMessage(userinput)"
      >
        <span class="copy-text bg-clip-text font-semibold">{{ copyStatus }}</span>
      </button>
    </div>
  </div>
</ng-template>
<!-- popover div ends here -->
