<div class="flex flex-col min-h-full rounded-5 overflow-hidden">
  <div class=" website-page-heading bg-white py-4 px-8 flex justify-between">
    <header class="header leading-9 font-normal not-italic">
      <span class="text-4xl">Services</span>
    </header>
    <div class="flex justify-between">
      <a class="save-button active-save rounded-full text-white text-center text-base font-normal not-italic py-3 px-20 ml-2"
        [routerLink]="['../add-service']">Add</a>
    </div>
  </div>
  <hr class="line">
  <app-no-data-service-component class="flex flex-1"></app-no-data-service-component>

  <!-- <ng-template #noWebsiteInfo>
    <app-no-data-service-component class="flex flex-1"></app-no-data-service-component>
  </ng-template> -->
</div>
