.website-page-heading {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  .header {
    @apply font-baloo text-primaryFont;
    .one {
      @apply font-baloo text-[#64c2bc];
    }
  }
}
.line {
  border: 1px solid #e5e5e5;
}

.detail-section {
  border-bottom-right-radius: 20px;
  @apply bg-[#eaf3f6];
}
.description-overflow {
  overflow-wrap: anywhere;
}
