.website-page-heading {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  .header {
    font-family: Baloo !important;
    color: #154f5b;
    .one {
      font-family: Baloo;
      color: #64c2bc;
    }
  }
  .cancel-button {
    font-family: Baloo;
    font-stretch: normal;
    letter-spacing: normal;
    color: #00a4b7;
  }
  .save-button {
    background-color: #00a4b7;

    font-family: Baloo;
    font-stretch: normal;
    letter-spacing: normal;
    &:disabled {
      background-color: #d6e1e3;
    }
  }
}
.line {
  border: 1px solid #e5e5e5;
}
.line-clamp-punch {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  @apply w-4/5 overflow-hidden;
}

.detail-section {
  background-color: #eaf3f6;
  border-bottom-right-radius: 20px;
}
